@media (max-width: 1180px) { 
	.flex-row-education p {
		font-size: 18px;
	}
}

@media (max-width: 680px) { 
	.flex-row-education p {
		font-size: 16px;
	}
}

@media (max-width: 480px) { 
	.flex-row-education p {
		font-size: 14px;
	}
}

@media (max-width: 390px) { 
	.flex-row-education {
		height: 70px;
	}
}