<div class="info-container-accessible">
	<div class="info-tittle">
		<p>Доступная среда</p>
		<div class="line"></div>
	</div>
	<div class="info-wrapper accessible-env">
		<div class="tap-row" id="tapRow">
			<div class="flex-row">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Информация о доступной среде</p>
			</div>
			<div class="slide-block" id="slide">
				<ul>
					<li>
						<a href="https://pkgn.ru/?razdel=5&url=sveden/dostupsreda" target="_blank">Доступная среда</a>
					</li>
					<li>
						<a href="https://rirportal.ru/ru-RU/potrebitelyam-i-zakupshchikam/catalog" target="_blank">Каталог товаров реабилитационной направленности, верифицированных Минпромторгом России</a>
					</li>
					<li>
						<a href="https://adaptis.pro/" target="_blank">Диспетчерский центр перевода РЖЯ</a>
					</li>
					<li>
						<a href="./documents/accessibleEnv/rcio_dostupstrana.pdf" target="_blank">Адресная программа «Доступная среда» ГПОУ ПК г. Новокузнецка</a>
					</li>
					<li>
						<a href="./documents/accessibleEnv/dorozhkarta.pdf" target="_blank">Дорожная карта ПКгН 2023</a>
					</li>
					<li>
						<a href="./documents/accessibleEnv/passportShestakova6.pdf" target="_blank">Паспорт доступности Шестакова 6</a>
					</li>
					<li>
						<a href="./documents/accessibleEnv/passportObnorskogo148.pdf" target="_blank">Паспорт доступности Обнорского 148</a>
					</li>
					<li>
						<a href="./documents/accessibleEnv/passportObnorskogo92A.pdf" target="_blank">Паспорт доступности Обнорского 92А</a>
					</li>
					<li>
						<a href="./documents/accessibleEnv/passportObnorskogo92.pdf" target="_blank">Паспорт доступности Обнорского 92</a>
					</li>
					<li>
						<a href="./documents/accessibleEnv/passportMetelkina17.pdf" target="_blank">Паспорт доступности Метёлкина 17</a>
					</li>
					<li>
						<a href="./documents/accessibleEnv/DS2020.pdf" target="_blank">Презентация архитектурной доступности ГПОУ «Профессиональный колледж г. Новокузнецка»</a>
					</li>
					<li>
						<a href="./documents/accessibleEnv/dostupnost2020.pdf" target="_blank">Форма (лист) самооценки архитектурной доступности зданий профессиональной образовательной организации ГПОУ ПК г. Новокузнецка</a>
					</li>
					<li>
						<a href="./documents/accessibleEnv/restrdostupnosti.pdf" target="_blank">Реестр доступности значимых (приоритетных) для инвалидов инфраструктурных объектов, транспортных средств общественного транспорта и транспортных маршрутов</a>
					</li>
					<li>
						<a href="./documents/accessibleEnv/expert2022.pdf" target="_blank">Экспертиза ФМЦИО о создании специальных условий для обучающихся с инвалидностью и ограниченными возможностями здоровья в образовательных организациях, реализующих программы среднего профессионального образования, в части архитектурной доступности и оборудования в создаваемых (обновляемых) мастерских не менее одного рабочего места для обучения инвалидов и лиц с ограниченными возможностями здоровья не менее чем одной нозологической группы</a>
					</li>
					<li>
						<a href="./documents/accessibleEnv/anketa.docx" target="_blank">Анкета оценки/самооценки архитектурной доступности Мастерских для оформления экспертного заключения доступности создаваемых мастерских для инвалидов и лиц с ОВЗ</a>
					</li>
					<li>
						<a href="./documents/accessibleEnv/samo-ocenka.pdf" target="_blank">Методика оценки/самооценки архитектурной доступности зданий профессиональных образовательных организаций</a>
					</li>
					<li>
						<a href="./documents/accessibleEnv/MetTrebov.pdf" target="_blank">Требования к доступности территории для инвалидов и иных маломобильных групп населения</a>
					</li>
					<li>
						<a href="./documents/accessibleEnv/PerechenOborud.pdf" target="_blank">Перечень необходимого оборудования для оснащения профессиональной образовательной организации, учитывающий типы и количество нозологий</a>
					</li>
					<li>
						<a href="./documents/accessibleEnv/prikaznaznach.pdf" target="_blank">Приказ о назначении ответственных лиц</a>
					</li>
				</ul>	
			</div>
		</div>
		<div class="tap-row" id="tapRow">
			<div class="flex-row">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Сайты дистанционных образовательных технологий</p>
			</div>
			<div class="slide-block" id="slide">
				<ul>
					<li>
						<a href="https://znanium.com/" target="_blank">
							Электронно-библиотечная система Znanium
						</a>
					</li>
					<li>
						<a href="https://urait.ru/" target="_blank">
							 Образовательная платформа «Юрайт» — курсы и учебники СПО, по различным дисциплинам
						</a>
					</li>
				</ul>	
			</div>
		</div>
		<div class="tap-row" id="tapRow">
			<div class="flex-row">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Документы</p>
			</div>
			<div class="slide-block" id="slide">
				<ul>
					<li>
						<a href="./documents/accessibleEnv/docs/zakacts.pdf" target="_blank">
							 Законодательные акты в области создания доступной среды жизнедеятельности
						</a>
					</li>
					<li>
						<a href="./documents/accessibleEnv/docs/рекомендации_по_тревожной_кнопке_112_для_инвалидов.pdf" target="_blank">
							Рекомендации по тревожной кнопке 112 для инвалидов
						</a>
					</li>
					<li>
						<a href="./documents/accessibleEnv/docs/МЕТОДИЧЕСКИЕ_РЕКОМЕНДАЦИИ_СПО.pdf" target="_blank">
							Методические рекомендации СПО
						</a>
					</li>
					<li>
						<a href="https://www.frcds.ru/wp-content/uploads/2023/03/Metod-pos-2022.pdf" target="_blank">
							Учебно-методическое пособие «Доступная среда для инвалидов: современные подходы и решения»
						</a>
					</li>
					<li>
						<a href="https://www.frcds.ru/wp-content/uploads/2023/05/marshrutoorientirovanie.pdf" target="_blank">
							Методические рекомендации «Маршрутоориентированный подход в создании доступной среды для инвалидов и других маломобильных групп населения»
						</a>
					</li>
					<li>
						<a href="https://www.frcds.ru/wp-content/uploads/2024/12/prof-meropriiatia-2024.pdf" target="_blank">
							Методическое пособие «Доступная среда: профилактические мероприятия по соблюдению обязательных требований»
						</a>
					</li>
					<li>
						<a href="https://www.frcds.ru/wp-content/uploads/2024/03/MR-profilaktika-2024.pdf" target="_blank">
							Методические рекомендации«Доступная среда: профилактика нарушений обязательных требований»
						</a>
					</li>
					<li>
						<a href="https://www.frcds.ru/wp-content/uploads/2025/03/MR-tekhnologii-komunikatsii-2024.pdf" target="_blank">
							Методические рекомендации«Технологии доступной коммуникации»
						</a>
					</li>
					<li>
						<a href="https://www.frcds.ru/wp-content/uploads/2024/11/instrukt-2024.pdf" target="_blank">
							Учебно-методическое пособие «Доступная среда: вопросы инструктирования»
						</a>
					</li>
				</ul>	
			</div>
		</div>
		<div class="tap-row" id="tapRow">
			<div class="flex-row">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Мониторинг доступности</p>
			</div>
			<div class="slide-block" id="slide">
				<ul>
					<li>
						<a href="./documents/accessibleEnv/monitoring/Аналитическая_справка_о_мониторге_паспортов_доступности_2023.pdf" target="_blank">
							Аналитическая справка о мониторингах доступности ПОО Кузбасса
						</a>
					</li>
					<li>
						<a href="./documents/accessibleEnv/monitoring/Аналитическая_справка_о_мониторге_доступности_за_2024год.pdf" target="_blank">
							Аналитическая справка о мониторинге доступности за 2024 год ПОО Кузбасса
						</a>
					</li>
					<li>
						<a href="./documents/accessibleEnv/monitoring/analiticspravk.pdf" target="_blank">
							Аналитическая справка по Кемеровской области по мониторингу доступности
						</a>
					</li>
					<li>
						<a href="./documents/accessibleEnv/monitoring/Отчет_о_архитектурной_доступности_2023.pdf" target="_blank">
							Информация о развитии доступной архитектурной среды Кузбасса в профессиональных образовательных организациях региона
						</a>
					</li>
					<li>
						<a href="./documents/accessibleEnv/monitoring/infospravka.pdf" target="_blank">
							ИНФОРМАЦИОННАЯ СПРАВКА ПО КЕМЕРОВСКОЙ ОБЛАСТИ КУЗБАСС 2021 год
						</a>
					</li>
					<li>
						<a href="./documents/accessibleEnv/monitoring/recnezvis.pdf" target="_blank">
							Рекомендации независимой оценки доступности 2023 ПОО Кузбасса
						</a>
					</li>
				</ul>	
			</div>
		</div>

		<!-------------------------------------------------------------------------------------->
		<img src="./documents/accessibleEnv/доступность образовательного.jpg" style="width: 86%;
		margin-bottom: 50px;
		border: solid 2vw #e4e4e4;
		border-radius: 8px;">
		<!-------------------------------------------------------------------------------------->

	</div>
</div>