<div class="info-container">
	<div class="info-tittle">
		<p>Основные сведения</p>
		<div class="line"></div>
	</div>
	<div class="info-wrapper">
		<div class="tap-row" id="tapRow">
			<div class="flex-row">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Структура БПОО</p>
			</div>
			<div class="slide-block" id="slide">
				<ul>
					<li>
						<a href="./documents/basicInformation/Structure/planmerop.pdf" target="_blank">
							План мероприятий по повышению уровня занятости инвалидов
						</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Structure/mezhpl.pdf" target="_blank">
							Межведомственный комплексный план мероприятий по повышению доступности среднего профессионального и высшего образования для инвалидов и лиц с ограниченными возможностями здоровья, в том числе профориентации и занятости указанных лиц
						</a>
					</li>
					<!-- <li>
						<a href="./documents/basicInformation/Structure/planrod.pdf" target="_blank">
							План консультирования родителей (законных представителей) по медицинским, психологическим вопросам и вопросам воспитания и обучения лиц с инвалидностью и ограниченными возможностями здоровья
						</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Structure/prikasbezbar.pdf" target="_blank">Приказ ответственный безбарьерная 2023</a>
					</li> -->
					<li>
						<a href="./documents/basicInformation/Structure/planprofwork.pdf" target="_blank">
							План предпрофильной и профильной работы с обучающимися с ОВЗ и инвалидностью
						</a>
					</li>
					<!-- <li>
						<a href="./documents/basicInformation/Structure/prikazpovodir.pdf" target="_blank">
							О порядке допуска собаки-поводыря
						</a>
					</li> -->
					<li>
						<a href="./documents/basicInformation/Structure/opisaniemodeli.pdf" target="_blank">
							Описание модели отдела инклюзивного и дополнительного образования
						</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Structure/1.pdf" target="_blank">Схема сетевого взаимодействия с БПОО Кузбасса</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Structure/2.pdf" target="_blank">Организационная схема отдела инклюзивного и дополнительного образования Базовой профессиональной образовательной организации (БПОО), Государственного профессионального образовательного учреждения «Профессиональный колледж г.Новокузнецка»</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Structure/Дорожная карта БПОО Кузбасса 2025г.pdf" target="_blank">Дорожная карта</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Structure/prik2425.pdf" target="_blank">Приказы 2024-2025</a>
					</li>
					<!-- <li>
						<a href="./documents/basicInformation/Structure/prikazrazrab.pdf" target="_blank">Приказ о плане работы БПОО</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Structure/prikazplanibpoo.pdf" target="_blank">Приказ об утвержденных планах БПОО 2023-2024</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Structure/prikazplansluzh.pdf" target="_blank">Приказ об утвержденных планах служб БПОО 2023-2024</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Structure/prikazevac.pdf" target="_blank">Приказ об эвакуации инвалидов в том числе 2023-2024</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Structure/pmpkons.pdf" target="_blank">Приказ о создании ПМПК 2023-2024 г.</a>
					</li> -->
					<li>
						<a href="./documents/basicInformation/Structure/planSoc.pdf" target="_blank">План работы соц-псих службы 2024 - 2025</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Structure/План_работы_БПОО_на_2025_год.pdf" target="_blank">План работы БПОО на 2025 год</a>
					</li>
					<!-- <li>
						<a href="./documents/basicInformation/Structure/planInfsobr.pdf" target="_blank">План работы информационных собраний с инвалидами и лицами с ОВЗ 2023</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Structure/planPMPK.pdf" target="_blank">План работы ПМПК 2023</a>
					</li> -->
					<!--<li>
						<a href="./documents/basicInformation/Structure/reitBPOO2021.pdf" target="_blank">Рейтинг БПОО 2021</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Structure/newreitBPOO.pdf" target="_blank">Рейтинг БПОО новый</a>
					</li>-->
					<li>
						<a href="./documents/basicInformation/Structure/Reyting_BPOO_2020.pdf" target="_blank">Рейтинг БПОО 2020</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Structure/Reyting_BPOO_2021.pdf" target="_blank">Рейтинг БПОО 2021</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Structure/Reyting_BPOO_2022.pdf" target="_blank">Рейтинг БПОО 2022</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Structure/Reyting_BPOO_2023.pdf" target="_blank">Рейтинг БПОО 2023</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Structure/sbornikPraktik.pdf" target="_blank">Cборник лучших практик 2021</a>
					</li>
					<!-- <li>
						<a href="./documents/basicInformation/Structure/bezparer.pdf" target="_blank">Приказ ответственный безбарьерная 2023</a>
					</li> -->
				</ul>
			</div>
		</div>
		<div class="tap-row" id="tapRow">
			<div class="flex-row">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Направления деятельности</p>
			</div>
			<div class="slide-block" id="slide">
				<p>
					&nbsp;Деятельность Структурного подразделения БПОО в субъекте Российской Федерации направлена на развитие и формирование в регионе сети ПОО, в которых обеспечены условия доступности получения качественного среднего профессионального образования (далее - СПО) и профессионального обучения (далее - ПО) для инвалидов и лиц с ОВЗ.
					<br />&nbsp;Отдел инклюзивного и дополнительного образования БПОО координирует деятельность ПОО в субъекте Российской Федерации, включая организационные мероприятия по профориентации, сопровождению и содействию в последующем трудоустройстве инвалидов и лиц с ОВЗ при получении ими СПО и ПО, а также содействию в создании условий доступности СПО и ПО в ПОО субъекта Российской Федерации.
				</p>
				<ul>
					<li>
						<a href="./documents/basicInformation/NapravD/1.pdf" target="_blank">ПОЛОЖЕНИЕ ОБ ОТДЕЛЕ ИНКЛЮЗИВНОГО И ДОПОЛНИТЕЛЬНОГО ОБРАЗОВАНИЯ БАЗОВОЙ ПРОФЕССИОНАЛЬНОЙ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ (БПОО) Государственного профессионального образовательного учреждения «Профессиональный колледж г.Новокузнецка»</a>
					</li>
					<li>
						<a href="./documents/basicInformation/NapravD/2.pdf" target="_blank">Перспективные направления развити инклюзивного СПО 2024</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="tap-row" id="tapRow">
			<div class="flex-row">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Документы</p>
			</div>
			<div class="slide-block" id="slide">
				<p style="font-weight: bold;">
					Международные:
				</p>
				<p>
					&nbsp;Конвенция о правах инвалидов (ратифицирована Федеральным законом от 03.05.2012 № 46-ФЗ, вступила в силу для Российской Федерации 25 октября 2012 года).
					<br />&nbsp;Всеобщая декларация прав человека. Принята и провозглашена резолюцией 217А Генеральной Ассамблеи от 10.12.48.
				</p>
				<p style="font-weight: bold;">
					Федеральные:
				</p>
				<ul>
					<li>
						<a href="./documents/basicInformation/Documents/zkreab.pdf" target="_blank">Закон о реабилитации и абилитации инвалидов</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/prikazmintrud.pdf" target="_blank">Приказ мнистерства труда и социальной защиты Российской Федерации</a>
					</li>
					<!--<li>
						<a href="./documents/basicInformation/Documents/postan1.docx" target="_blank">ПОСТАНОВЛЕНИЕ ПРАВИТЕЛЬСТВА РОССИЙСКОЙ ФЕДЕРАЦИИ ОТ 19 АПРЕЛЯ 2016 Г. № 328 "О внесении изменений в государственную программу Российской Федерации "Доступная среда" на 2011 - 2020 годы"</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/postan2.docx" target="_blank">ПОСТАНОВЛЕНИЕ ПРАВИТЕЛЬСТВА РОССИЙСКОЙ ФЕДЕРАЦИИ ОТ 23 МАЯ 2015 Г. № 497 "О Федеральной целевой программе развития образования на 2016-2020 годы"</a>
					</li>-->
					<li>
						<a href="http://www.kremlin.ru/acts/bank/50542">Указ Президента Российской Федерации от 07.05.2024 г. № 309 «О национальных целях развития Российской Федерации на период до 2030 года и на перспективу до 2036 года»</a>
					</li>
					<li>
						<a href="http://government.ru/docs/all/134034/">Постановление Правительства Российской Федерации от 23.04.2021 № 631 «О формировании и утверждении перечней отдельных видов товаров, работ, услуг, приобретаемых с использованием электронного сертификата за счет средств бюджетов бюджетной системы Российской Федерации»</a>
					</li>
					<li>
						<a href="http://government.ru/docs/all/139180/">Постановление Правительства РФ от 05.02.2022 № 119 «Об утверждении Правил предоставления сертификатов победителям чемпионатов по профессиональному мастерству среди инвалидов и лиц с ограниченными возможностями здоровья «Абилимпикс»</a>
					</li>
					<li>
						<a href="http://government.ru/docs/all/139180/">Распоряжение Минпросвещения России от 18.04.2024 № Р-78 «О предоставлении мер социальной поддержки победителям Национального чемпионата по профессиональному мастерству среди инвалидов и лиц с ограниченными возможностями здоровья «Абилимпикс» - 2023 с использованием электронного сертификата</a>
					</li>
					<li>
						<a href="https://base.garant.ru/72216666/" target="_blank">Постановление Правительства РФ от 29 марта 2019 г. N 363 "Об утверждении государственной программы Российской Федерации "Доступная среда" (с изменениями и дополнениями) Постановление Правительства РФ от 29 марта 2019 г. N 363 "Об утверждении государственной программы Российской Федерации "Доступная среда"</a>
					</li>
					<li>
						<a href="https://www.consultant.ru/document/cons_doc_LAW_286474/">Постановление Правительства РФ от 26.12.2017 N 1642 (ред. от 21.02.2025) "Об утверждении государственной программы Российской Федерации "Развитие образования"</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/postan3.docx" target="_blank">ПОСТАНОВЛЕНИЕ ПРАВИТЕЛЬСТВА РОССИЙСКОЙ ФЕДЕРАЦИИ ОТ 14 АВГУСТА 2013 Г. № 697 "Об утверждении перечня специальностей и направлений подготовки, при приеме на обучение по которым поступающие проходят обязательные предварительные медицинские осмотры (обследования) в порядке, установленном при заключении трудового договора или служебного контракта по соответствующей должности или специальности"</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/mezhplan.pdf" target="_blank">МЕЖВЕДОМСТВЕННЫЙ КОМПЛЕКСНЫЙ ПЛАН МЕРОПРИЯТИЙ по повышению доступности среднего профессионального и высшего образования для инвалидов и лиц с ограниченными возможностями здоровья, в том числе профориентации и занятости указанных лиц на 2022 - 2030 годы (утв. Правительством РФ 21 декабря 2021 г. N 14000п-П8)</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/raspor30.pdf" target="_blank">Распоряжение Минпросвещения России от 22 февраля 2022 г. № Р-30 "Об определении оператора реестра победителей чемпионатов по профессиональному мастерству среди инвалидов и лиц с ограниченными возможностями здоровья "Абилимпикс"</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/rasporyazh.docx" target="_blank">Распоряжение Минпросвещения России от 09 сентября 2019 г. № Р-93 "Об утверждении примерного положения о психолого-педагогическом консилиуме образовательной организации"</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/fedzak273.pdf" target="_blank">Федеральный закон от 29 декабря 2012 г. № 273-ФЗ Об образовании в Российской Федерации</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/fedzak46.docx" target="_blank">Федеральный закон от 3 мая 2012 г. № 46-ФЗ О ратификации конвенции о правах инвалидов</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/fedzak181.docx" target="_blank">Федеральный закон от 24 ноября 1995 г. № 181-ФЗ О социальной защите инвалидов в Российской Федерации</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/ukazrf.docx" target="_blank">Указ Президента Российской Федерации от 07.05.2012 № 597 "О мероприятиях по реализации государственной социальной политики"</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/ukazrf1.docx" target="_blank">Указ Президента Российской Федерации от 7 мая 2012 г № 599 О мерах по реализации государственной политики в области образования и науки</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/perechen.pdf" target="_blank">Перечень основных нормативно-правовых документов, регламентирующих организацию обучения детей с ОВЗ</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/normdoc.pdf" target="_blank">Нормативные документы в сфере образования учащихся с ограниченными возможностями здоровья</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/paketovz.rar" target="_blank">ПАКЕТ ДОКУМЕНТОВ ПО ОРГАНИЗАЦИИ ОБУЧЕНИЯ ИНВАЛИДОВ И ЛИЦ С ОВЗ</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/gost.pdf" target="_blank">ГОСТ 52131-2019 Средства отображения информации знаковые для инвалидов</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/pismo.pdf" target="_blank">ТРЕБОВАНИЯ К ОРГАНИЗАЦИИ ОБРАЗОВАТЕЛЬНОГО ПРОЦЕССА ДЛЯ ОБУЧЕНИЯ ИНВАЛИДОВ И ЛИЦ С ОГРАНИЧЕННЫМИ ВОЗМОЖНОСТЯМИ ЗДОРОВЬЯ В ПРОФЕССИОНАЛЬНЫХ ОБРАЗОВАТЕЛЬНЫХ ОРГАНИЗАЦИЯХ, В ТОМ ЧИСЛЕ ОСНАЩЕННОСТИ ОБРАЗОВАТЕЛЬНОГО ПРОЦЕССА</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/pismo1.pdf" target="_blank">Об обеспечении условий доступности для инвалидов объектов и услуг в сфере образования</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/prikaz.pdf" target="_blank">Об утверждении Порядка обеспечения условий доступности для инвалидов объектов и предоставляемых услуг в сфере образования, а также оказания им при этом необходимой помощи</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/feddoc.pdf" target="_blank">Федеральные нормативные правовые документы по инвалидам</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/Prikaz_Mintruda_RF_ot_01_10_2024_N_518_Ob_utverzhdenii_Metodicheskikh.pdf" target="_blank">Приказ Минтруда РФ от 01.10.2024 №518 ОБ УТВЕРЖДЕНИИ МЕТОДИЧЕСКИХ РЕКОМЕНДАЦИЙ ПО ПОДБОРУ РЕКОМЕНДУЕМЫХ ВИДОВ ТРУДОВОЙ И ПРОФЕССИОНАЛЬНОЙ ДЕЯТЕЛЬНОСТИ ИНВАЛИДАМ С УЧЕТОМ НАРУШЕННЫХ ФУНКЦИЙ ОРГАНИЗМА И ОГРАНИЧЕНИЙ ИХ ЖИЗНЕДЕЯТЕЛЬНОСТИ</a>
					</li>
				</ul>
				<p style="font-weight: bold;">
					Локальные:
				</p>
				<ul>
					<li>
						<a href="./documents/basicInformation/Documents/namekolledzh.pdf" target="_blank">Об изменении названия колледжа</a>
					</li>
					<li>
						<a href="./documents/basicInformation/NapravD/1.pdf" target="_blank">ПОЛОЖЕНИЕ ОБ ОТДЕЛЕ ИНКЛЮЗИВНОГО И ДОПОЛНИТЕЛЬНОГО ОБРАЗОВАНИЯ БАЗОВОЙ ПРОФЕССИОНАЛЬНОЙ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ (БПОО) Государственного профессионального образовательного учреждения «Профессиональный колледж г.Новокузнецка» имени Кучерявенко Тамары Александровны</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/polo.pdf" target="_blank">ПОЛОЖЕНИЕ о создании и деятельности базовых профессиональных образовательных организаций в системе среднего профессионального образования (БПОО)</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/lok7.pdf" target="_blank">ПОЛОЖЕНИЕ О ПОРЯДКЕ ПОЛЬЗОВАНИЯ ЛЕЧЕБНООЗДОРОВИТЕЛЬНОЙ ИНФРАСТРУКТУРОЙ, ОБЪЕКТАМИ КУЛЬТУРЫ И ОБЪЕКТАМИ СПОРТА в Государственном профессиональном образовательном учреждении «Профессиональный колледж г. Новокузнецка»</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/lok39.pdf" target="_blank">ПОЛОЖЕНИЕ О СЛУЖБЕ КОНСУЛЬТИРОВАНИЯ РОДИТЕЛЕЙ (ЗАКОННЫХ ПРЕДСТАВИТЕЛЕЙ) Государственного профессионального образовательного учреждения «Профессиональный колледж г.Новокузнецка»</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/lok51.pdf" target="_blank">ПОЛОЖЕНИЕ О ПОРЯДКЕ ОРГАНИЗАЦИИ ОБУЧЕНИЯ ИНВАЛИДОВ И ЛИЦ С ОГРАНИЧЕННЫМИ ВОЗМОЖНОСТЯМИ ЗДОРОВЬЯ В Государственном профессиональном образовательном учреждении «Профессиональный колледж г.Новокузнецка»</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/lok57.pdf" target="_blank">ПОЛОЖЕНИЕ О СОЦИАЛЬНО-ПСИХОЛОГИЧЕСКОЙ СЛУЖБЕ Государственного профессионального образовательного учреждения «Профессиональный колледж г.Новокузнецка»</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/lok70.pdf" target="_blank">ПОЛОЖЕНИЕ О ЦЕНТРЕ ПРОФОРИЕНТАЦИИ, ПРОФЕССИОНАЛЬНОГО СОПРОВОЖДЕНИЯ И КОНСУЛЬТИРОВАНИЯ Государственного профессионального образовательного учреждения «Профессиональный колледж г.Новокузнецка»</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/lok72.pdf" target="_blank">ПОЛОЖЕНИЕ ОБ ОРГАНИЗАЦИИ И РЕГЛАМЕНТИРОВАНИИ ТЬЮТОРСКОГО СОПРОВОЖДЕНИЯ ОБУЧАЮЩИХСЯ С ОГРАНИЧЕННЫМИ ВОЗМОЖНОСТЯМИ ЗДОРОВЬЯ Государственного профессионального образовательного учреждения «Профессиональный колледж г.Новокузнецка»</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/lok81.pdf" target="_blank">ПОЛОЖЕНИЕ О ПОРЯДКЕ ОБЕСПЕЧЕНИЯ УСЛОВИЙ ДОСТУПНОСТИ СИСТЕМЫ ИНКЛЮЗИВНОГО ПРОФЕССИОНАЛЬНОГО ОБРАЗОВАНИЯ ИНВАЛИДОВ И ЛИЦ С ОГРАНИЧЕННЫМИ ВОЗМОЖНОСТЯМИ ЗДОРОВЬЯ, А ТАКЖЕ ОКАЗАНИЯ ИМ ПРИ ЭТОМ НЕОБХОДИМОЙ ПОМОЩИ Государственного профессионального образовательного учреждения «Профессиональный колледж г.Новокузнецка»</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/lok82.pdf" target="_blank">ПОЛОЖЕНИЕ О ПОРЯДКЕ ДОПУСКА СОБАКИ-ПОВОДЫРЯ Государственного профессионального образовательного учреждения «Профессиональный колледж г.Новокузнецка»</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/HotLine.pdf" target="_blank">ПОЛОЖЕНИЕ о работе «Горячей линии» в ГПОУ «Профессиональный колледж г.Новокузнецка»</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/Evacuation.pdf" target="_blank">ПОЛОЖЕНИЕ О ПРОВЕДЕНИИ УЧЕБНОЙ ЭВАКУАЦИИ ОБУЧАЮЩИХСЯ, ИНВАЛИДОВ И ЛИЦ С ОГРАНИЧЕННЫМИ ВОЗМОЖНОСТЯМИ ЗДОРОВЬЯ, РАБОТНИКОВ И ИМУЩЕСТВА НА СЛУЧАЙ ПОЖАРА И ДРУГИХ ЧРЕЗВЫЧАЙНЫХ СИТУАЦИЙ Государственного профессионального образовательного учреждения «Профессиональный колледж г. Новокузнецка»</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/rsio.pdf" target="_blank">Приказ об утверждении базовой профессиональной образовательной организации, обеспечивающей поддержку региональной системы инклюзивного профессионального образования инвалидов</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/rsio3.pdf" target="_blank">Адресная программа «Доступная среда» ГПОУ ПК г. Новокузнецка</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/DS.pdf" target="_blank">Презентация архитектурной доступности ГПОУ «Профессиональный колледж г. Новокузнецка»</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/rsio4.pdf" target="_blank">КОНЦЕПЦИЯ базовой профессиональной образовательной организации, обеспечивающей поддержку региональной системы инклюзивного профессионального образования инвалидов и лиц с ОВЗ на 2020-2025 гг.</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/Brendbook.pdf" target="_blank">Брендбук</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/reglame.pdf" target="_blank">Регламент Межведомственного взаимодействия органов исполнительной власти Кемеровской области - Кузбасса по организации профориентационной работы с инвалидами молодого возраста и лицами с ограниченными возможностями здоровья по содействию их трудоустройству</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/RegPlan.pdf" target="_blank">РЕГИОНАЛЬНЫЙ ПЛАН МЕРОПРИЯТИЙ по повышению доступности среднего профессионального и высшего образования для инвалидов и лиц с ограниченными возможностями здоровья, в том числе профориентации и занятости указанных лиц 2022</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/RegPlan123.pdf" target="_blank">План мероприятий по повышению значений показателей доступности</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/planB.pdf" target="_blank">Дорожная карта БПОО</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/pitanie.pdf" target="_blank">Организация питания</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/Отчет БПОО за 2021.pdf" target="_blank">Отчёт БПОО за 2021</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/Отчет БПОО за 2022.pdf" target="_blank">Отчёт БПОО за 2022</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/отчет БПОО 2023 год.pdf" target="_blank">Отчёт БПОО за 2023</a>
					</li>
					<li>
						<a href="./documents/basicInformation/Documents/отчет БПОО 2024 год.pdf" target="_blank">Отчёт БПОО за 2024</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="tap-row" id="tapRow">
			<div class="flex-row">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Кадры БПОО</p>
			</div>
			<div class="slide-block" id="slide">
				<ul>
					<li>
						<a href="./documents/basicInformation/DolzhIns/dolzhinbpoo.pdf" target="_blank">Должностная инструкция руководителя БПОО</a>
					</li>
					<li>
						<a href="./documents/basicInformation/DolzhIns/zamdir.pdf" target="_blank">Замдиректора инклюзия</a>
					</li>
					<li>
						<a href="./documents/basicInformation/DolzhIns/instlfk.pdf" target="_blank">Инструктор ЛФК</a>
					</li>
					<li>
						<a href="./documents/basicInformation/DolzhIns/instfizra.pdf" target="_blank">Инструктор по физкультуре</a>
					</li>
					<li>
						<a href="./documents/basicInformation/DolzhIns/logoped.pdf" target="_blank">Логопед</a>
					</li>
					<li>
						<a href="./documents/basicInformation/DolzhIns/methodinc.pdf" target="_blank">Методист инклюзия</a>
					</li>
					<li>
						<a href="./documents/basicInformation/DolzhIns/pedpsih.pdf" target="_blank">Педагог психолог</a>
					</li>
					<li>
						<a href="./documents/basicInformation/DolzhIns/prepod.pdf" target="_blank">Преподаватель</a>
					</li>
					<li>
						<a href="./documents/basicInformation/DolzhIns/socped.pdf" target="_blank">Социальный педагог</a>
					</li>
					<li>
						<a href="./documents/basicInformation/DolzhIns/techprog.pdf" target="_blank">Техник-программист</a>
					</li>
					<li>
						<a href="./documents/basicInformation/DolzhIns/tifloped.pdf" target="_blank">Тифлопедагог</a>
					</li>
					<li>
						<a href="./documents/basicInformation/DolzhIns/tutor.pdf" target="_blank">Тьютор</a>
					</li>
					<li>
						<a href="./documents/basicInformation/DolzhIns/recpoobyaz.pdf" target="_blank">Рекомендации по обязанностям специалистов</a>
					</li>
					<li>
						<a href="./documents/basicInformation/DolzhIns/shtat.pdf" target="_blank">Штатное</a>
					</li>
					<li>
						<a href="./documents/basicInformation/DolzhIns/KPKOtve.pdf" target="_blank">КПК ответственные инклюзия</a>
					</li>
					<li>
						<a href="./documents/basicInformation/DolzhIns/KPKrabotn.pdf" target="_blank">КПК педаработники 2023 инклюзия</a>
					</li>
					<li>
						<a href="./documents/basicInformation/DolzhIns/povish_kval.pdf" target="_blank">Повышение квалификации работников БПОО 2024</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
