<div class="info-container-prof">
	<div class="info-tittle">
		<p>Профориентация</p>
		<div class="line"></div>
	</div>
	<div class="info-center-wrapper">
		<div class="wrapper-column">
			<div class="info-center">
				<a href="https://www.pkgn.ru/index.php?razdel=1&url=sveden/abit">
					<p>Центр профориентации</p>
					<img src="./images/klogonew.png">
				</a>
			</div>
			<div class="virtual-priem">
				<a href="#virtualPriem">
					<img src="./images/virtual.png" />
					<p>Виртуальная приемная БПОО Кузбасса</p>
				</a>
			</div>
		</div>
		<div class="prof-test">
			<p>
				&nbsp;&nbsp;<span>Профессиональная диагностика (профессиональное тестирование)</span> - это метод работы, связанный с использованием инструментов по оценке и измерению индивидуально-психологических особенностей личности человека на предмет соответствия этих особенностей выполнению профессиональной деятельности.
				<br />
				<br />
				&nbsp;&nbsp;В профессиональном тестировании используют разные методики: методики экспресс-диагностики характерологических особенностей личности Т.В. Матолина. (в основе данной методики лежат особенности типа темперамента, где главными являются два вектора: экстраверсия и нейротизм); карту интересов (А.Е. Голомштока в модификации Г.В.Резапкиной) (определение  своих профессиональных склонностей и интересов); тест по определению типа личности (автор ДЖ.Голланд) (определение профессионального типа личности ); определение типа будущей профессии (тест автор Е.А.Климов) и др.
			</p>
		</div>
	</div>
	<div class="educational-navigator">
		<img src="./documents/careerGuidance/educational_navigator.png">
	</div>
	<div class="prof-test-ovz">
		<p>
			Тесты на выбор профессии
		</p>
		<a href="https://moeobrazovanie.ru/testy_na_vybor_professii/" target="_blank">
			Перейти к тестам
		</a>
	</div>
	<div class="prof-links">
		<a href="https://www.pkgn.ru/?razdel=1&url=sveden/abit" target="_blank">
			Информация для абитурентов
		</a>
		<a href="https://proforientir42.ru/" target="_blank">
			Профориентир | профориентационный портал Кузбасса
		</a>
		<a href="https://kemcdo.ru/?pg=ilib-89-0-372-1904921076" target="_blank">
			Центр дистанционного образования детей с особыми образовательными потребностями Кемеровской области – Кузбасса
		</a>
		<a href="https://инклюзивноеобразование.рф/" target="_blank">
			Инклюзивное высшее образование в России
		</a>
		<a href="https://proforientator.ru/tests/#tocontent" target="_blank">
			Тесты на профориентацию и выбор профессии для подростков
		</a>
		<a href="./documents/careerGuidance/Atlas SPO 2025.pdf" target="_blank">
			Атлас СПО 2025
		</a>
		<a href="./documents/careerGuidance/Atlas PO 2025.pdf" target="_blank">
			Атлас ПО 2025
		</a>
	</div>
	<div class="ticket-future">
		<div class="tap-row" id="tapRow">
			<div class="flex-row flex-row-prof">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Информация о проекте билет в будущее</p>
			</div>
			<div class="slide-block" id="slide">
				<p>
					&nbsp;&nbsp;<span>Билет в будущее</span> - это проект ранней профессиональной ориентации обучающихся 6–11 классов школ, который реализуется при поддержке государства.
					<br />
					&nbsp;&nbsp;Проект «Билет в будущее» реализуется по поручению Президента РФ В.В.Путина, входит в паспорт федерального проекта «Успех каждого ребёнка» в рамках национального проекта «Образование».
					<br />
					&nbsp;&nbsp;Профориентация школьников — приоритетная государственная задача, закрепленная в национальном проекте «Образование». Профориентация и построение молодым человеком своего профессионального пути связаны не только с его успешной самореализацией, но и с вкладом в экономическое развитие как региона, так и страны в целом. Сейчас программа «Билет в Будущее» работает во всех 85 регионах России. Региональным оператором проекта является Центр опережающей профессиональной подготовки Кузбасса на базе Сибирского политехнического техникума.
					<br />
					&nbsp;&nbsp;Проект «Билет в будущее» предоставляет подросткам  совершенно уникальную возможность. Предлагает с помощью специалистов, с одной стороны, и используя новейшие разработки с другой, пройти тестирование, которое поможет определить, в каких областях деятельности человек сможет работать наиболее эффективно. В рамках программы «Билет в Будущее» государство дает возможность пройти эти тесты бесплатно.
					<br />
					&nbsp;&nbsp;Программа имеет несколько этапов. Первая – это профессиональная диагностика, в ходе которой выявляются и оцениваются способности подростка. По итогам диагностики человек получает на руки отчет с рекомендациями: попробовать себя в такой-то профессии, обратить внимание на такие-то свои способности и так далее.
					<br />
					&nbsp;&nbsp;Второй этап проекта –это профессиональная проба. Школьник имеет возможности прийти в среднее или высшее учебное заведение, или в технопарк, или непосредственно в компанию или на предприятие, и пробовать себя в профессии.
					<br />
					&nbsp;&nbsp;Отдельная часть проекта – работа с родителями. И там есть очень интересные так называемые bi-тесты – это тест, который проходят одновременно и ребенок, и родитель, независимо друг от друга. И нередко результаты этого теста дают интересную информацию к размышлению и к обсуждению. Становится понятно, насколько ожидания родителей соответствуют возможностям и желанию самого школьника, что в свою очередь поможет избежать многих ошибок.
					<br />
					&nbsp;&nbsp;Но ничего не получится, если рядом со школьником, который, по его мнению, уже определился, не будет педагога, который станет заниматься с ним дополнительно, углубленно. Таких педагогов готовит проект (педагоги-навигаторы).  Они сопровождают учеников в течение всего проекта и помогают им определиться с траекторией профессионального развития. Сейчас в проекте участвует 6 тысяч педагогов со всей России.
					<br />
					&nbsp;&nbsp;С сентября 2021 года цифровым ядром проекта «Билет в Будущее» является электронная онлайн-платформа BVBINFO.RU, разработанная оператором Проекта - Фондом Гуманитарных Проектов, утверждённым поручением Президента Российской Федерации, приказом Минпросвещения России и постановлением Правительства Российской Федерации.
 					<br />
 					&nbsp;&nbsp;В 2021 – 2022 годах более 600 тысяч учеников школ со всей страны приняли участие в проекте. Образовательные организации, педагоги доп. образования, работодатели, ВУЗы и колледжи, крупнейшие российские компании и онлайн-платформы, организации дополнительного образования стали партнерами «Билета в будущее» на постоянной основе.
				</p>
				<ul>
					<li>
						<a href="./documents/education/methRec/metodBB.pdf" target="_blank">
							МЕТОДИЧЕСКИЕ РЕКОМЕНДАЦИИ по реализации проекта по профессиональной ориентации обучающихся 6-11 классов общеобразовательной школы «Билет в будущее»
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/metodPP.pdf" target="_blank">
							Методические рекомендации по разработке программ профессиональных проб в рамках проекта профессиональной ориентации обучающихся 6-11 классов общеобразовательных организаций «Билет в будущее
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/methodbilet.pdf" target="_blank">
							Методические рекомендации билет в будущее
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="tap-row" id="tapRow">
			<div class="flex-row flex-row-prof">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Комплекс мер по профориентации лиц с ОВЗ и инвалидностью</p>
			</div>
			<div class="slide-block" id="slide">
				<p>
					1. Своевременное обновление информации в модуле «Абитуриентам» на сайте колледжа для обучающихся с ОВЗ.
					<br />
					2. Информационно-разъяснительная работа в школах города; участие в школьных родительских собраниях.
					<br />
					3. Проведение мониторинговых исследований по выявлению потребностей со стороны инвалидов в получении профессионального образования по профессиям и специальностям, реализуемым в ГПОУ ПК г. Новокузнецка.
					<br />
					4. Консультации для инвалидов и лиц ОВЗ по вопросам подбора профессии (специальности) для обучения.
					<br />
					5. Изготовление рекламно-информационных материалов о колледже для обучающихся с ОВЗ.
					<br />
					6. Проведение практических мероприятий в рамках проекта ранней профориентации школьников 6-11-х классов «Билет в будущее».
					<br />
					7. Проведение классных часов в 8-9 классах школ города по профилям.
					<br />
					8. День открытых дверей в очном и онлайн формате «Фестиваль профессий» для  инвалидов , лиц с ОВЗ  и их законных представителей (презентации, консультации, экскурсии).
				</p>
				<ul>
					<li>
						<a href="./documents/careerGuidance/priznaniedoc.pdf" target="_blank">
							Актуальные вопросы признания образования
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/instruction.pdf" target="_blank">
							Как подать заявление на обучение
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/metodrec23.pdf" target="_blank">
							Методические рекомендации
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/Типовая_модель_работы_инклюзивной_площадки_движения_Абилимпикс_в.pdf" target="_blank">
							Типовая модель работы инклюзивной площадки движения Абилимпикс
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/Программа_ПРОФКАНИКУЛЫ_Кузбасс_2025.pdf" target="_blank">
							Программа ПРОФКАНИКУЛЫ Кузбасс 2025
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="tap-row" id="tapRow">
			<div class="flex-row flex-row-prof">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Трудоустройство</p>
			</div>
			<div class="slide-block" id="slide">
				<p>
					&nbsp;&nbsp;Уважаемые студенты и выпускники нашего колледжа! В настоящее время организация содействия трудоустройству граждан из числа инвалидов и лиц с ОВЗ реализуется через систему Центров занятости населения, в компетенцию которых входит оказание данных услуг для инвалидов и лиц с ОВЗ. Предлагаем вам для удобного поиска вакансий полезные ссылки:
				</p>
				<ul>
					<li>
						<a href="http://www.ufz-kemerovo.ru/" target="_blank">
							Департамент по труду и занятости населения Кемеровской области
						</a>
					</li>
					<li>
						<a href="http://www.dsznko.ru/" target="_blank">
							Министерство труда и социальной защиты
						</a>
					</li>
					<li>
						<a href="https://trudvsem.ru/information-pages/special" target="_blank">
							Федеральная служба по труду и занятости (РОСТРУД)
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/vakans.pdf" target="_blank">
							Банк данных социальных партнеров и вакансий по трудоустройству
						</a>
					</li>
					<li>
						<a href="https://www.pkgn.ru/index.php?razdel=3&url=sveden/trud" target="_blank">
							Служба содействия трудоустройству выпускников
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/programmbpoo2021.pdf" target="_blank">
							Программа содействия трудоустройству и постдипломного сопровождения выпускников из числа инвалидов и лиц с ограниченными возможностями здоровья на 2021-2025 учебный год
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/otvet.pdf" target="_blank">
							Справочник «Ответы на часто задаваемые вопросы при трудоустройстве инвалидов и лиц с ограниченными возможностями здоровья»
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/vakans.pdf" target="_blank">
							Банк данных социальных партнеров и вакансий по трудоустройству
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/regreglament2021.pdf" target="_blank">
							Регламент Межведомственного взаимодействия органов исполнительной власти Кемеровской области - Кузбасса по организации профориентационной работы с инвалидами молодого возраста и лицами с ограниченными возможностями здоровья по содействию их трудоустройству
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="tap-row" id="tapRow">
			<div class="flex-row flex-row-prof">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Справочники</p>
			</div>
			<div class="slide-block" id="slide">
				<ul>
					<li>
						<a href="./documents/careerGuidance/Формула успеха Кузбасса.pdf" target="_blank">
							Формула успеха Кузбасса 2022-2024
						</a>
					</li>
					<!--<li>
						<a href="./documents/careerGuidance/prof2024.pdf" target="_blank">
							Профориентационный атлас профессий и специальностей ПОО в Кузбассе
						</a>
					</li>-->
					<li>
						<a href="./documents/careerGuidance/prof2025.pdf" target="_blank">
							Профориентационный атлас профессий и специальностей ПОО в Кузбассе за 2025г.
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/prof2024.pdf" target="_blank">
							Профориентационный атлас профессий и специальностей ПОО в Кузбассе за 2024г.
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/Atlas SPO 2025.pdf" target="_blank">
							Атлас доступных профессий специальностей СПО Кузбасса за 2025г.
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/atlas_spo-2024.pdf" target="_blank">
							Атлас доступных профессий специальностей СПО Кузбасса за 2024г.
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/Atlas PO 2025.pdf" target="_blank">
							Атлас доступных профессий ПО Кузбасса для лиц с интеллектуальными нарушениями за 2025г.
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/Atlas_PO_2024.pdf" target="_blank">
							Атлас доступных профессий ПО Кузбасса для лиц с интеллектуальными нарушениями за 2024г.
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/atlas-2024.pdf" target="_blank">
							Топ 10 профессий/специальностей востребованных у региональных работодателей за 2024г.
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/atlas-2023.pdf" target="_blank">
							Топ 10 профессий/специальностей востребованных у региональных работодателей за 2023г.
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/atlas-2022.pdf" target="_blank">
							Топ 10 профессий/специальностей востребованных у региональных работодателей за 2022г.
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/atlas-2021.pdf" target="_blank">
							Топ 10 профессий/специальностей востребованных у региональных работодателей за 2021г.
						</a>
					</li>
					<li>
						<a href="./documents/education/Konkurs/Proforientatsionny_kalendar_2025_god.pdf" target="_blank">
							Профориентационный календарь 2025
						</a>
					</li>
					<li>
						<a href="./documents/education/Konkurs/Профориентационный календарь 2024.pdf" target="_blank">
							Профориентационный календарь 2024
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/spravochnik2023.pdf" target="_blank">
							Справочник ПО 2023
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/spravochnikprofession.pdf" target="_blank">
							Справочник профессий 2023
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/expresstest.pdf" target="_blank">
							Экспресс тест профессиональных склонностей
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/top10special.pdf" target="_blank">
							Топ 10 специальностей для абитуриентов с ограниченными возможностями здоровья
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/kakvibrat.pdf" target="_blank">
							Памятка для родителей. Как помочь ребенку выбрать профессию
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/metodsopr.pdf" target="_blank">
							Методические рекомендации по комплексному психолого педагогическому сопровождению
						</a>
					</li>
					<li>
						<a href="./documents/careerGuidance/metodtrebov.pdf" target="_blank">
							Требования к доступности территории для инвалидов и иных маломобильных групп населения
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>