<div class="info-container">
	<div class="info-tittle">
		<p>Курсы повышения квалификации</p>
		<div class="line"></div>
	</div>
	<div class="courses-wrapper">
		<div class="big-row-courses">
			<div class="big-button-course">
				<div class="blocked-course blocked-course-1">
						<i class="fa-solid fa-lock fa-2xl" style="color: #ffffff;"></i>
					</div>
				<a href="#passcourseasist">
					<img src="./images/course1.jpg"/>
					<div>
						<p>
							Ассистент (помощник) по оказанию технической помощи инвалидам и лицам с ограниченными возможностями здоровья
						</p>
					</div>
				</a>
			</div>
			<div class="double-button-wrapper">
				<div class="double-buttons">
					<div class="blocked-course blocked-course-2">
						<i class="fa-solid fa-lock fa-2xl" style="color: #ffffff;"></i>
					</div>
					<a href="#passcoursetutor">
						<div>
							<p>
								Сопровождение инклюзивного образовательного процесса специалистом в области воспитания (тьютором)
							</p>
						</div>
					</a>
				</div>
				<div class="double-buttons">
					<div class="blocked-course blocked-course-3">
						<i class="fa-solid fa-lock fa-2xl" style="color: #ffffff;"></i>
					</div>
					<a href="#passcoursedostupnost">
						<div>
							<p>
								Технологии сопровождения инвалидов и лиц с ограниченными возможностями здоровья в образовательной организации (доступная среда)
							</p>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="button-to-course">
			<div class="blocked-course">
				<i class="fa-solid fa-lock fa-2xl" style="color: #ffffff;"></i>
			</div>
			<a href="#">
				<img src="./images/course4.png" />
				<div>
					<p>Стажировка «Практика оказания технической помощи инвалидам и лицам с ограниченными возможностями здоровья в образовательном процессе профессиональной образовательной организации среднего профессионального образования»</p>
				</div>
			</a>
		</div>
		<div class="info-wrapper">
			<div class="tap-row" id="tapRow">
			<div class="flex-row flex-row-education">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Информация о курсах</p>
			</div>
			<div class="slide-block" id="slide">
				<ul>
					<li>
						<a href="./documents/courses/Kursi24-25.pdf" target="_blank">
							Даты проведения курсов повышения квалификации 2024-2025 г.
						</a>
					</li>
				</ul>
			</div>
		</div>	
		</div>	
	</div>
</div>