<div class="info-container">
	<div class="info-tittle">
		<p>Образование</p>
		<div class="line"></div>
	</div>
	<div class="button-to-courses">
		<a href="#courses">
			<img src="./images/courses.png" />
			<div>
				<p>Курсы повышения квалификации</p>
			</div>
		</a>
	</div>
	<div class="info-wrapper">
		<div class="tap-row" id="tapRow">
			<div class="flex-row flex-row-education">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Информация о реализуемых адаптированных образовательных программах</p>
			</div>
			<div class="slide-block" id="slide">
				<ul>
					<p style="font-weight: bold;">
						38.02.07 Банковское дело
					</p>
					<li>
						<a href="./documents/education/infoProg/Bank.rar" target="_blank">Адаптированные образовательные программы по специальности 38.02.07 Банковское дело
						</a>
					</li>
					<li>
						<a href="https://www.pkgn.ru/index.php?razdel=1&url=sveden/educations" target="_blank">Общие сведения о специальности
						</a>
					</li>
					<p style="font-weight: bold;">
						46.02.01 Документационное обеспечение управления и архивоведение
					</p>
					<li>
						<a href="./documents/education/infoProg/DOU.rar" target="_blank">Адаптированные образовательные программы по специальности 46.02.01 Документационное обеспечение управления и архивоведение</a>
					</li>
					<li>
						<a href="https://www.pkgn.ru/index.php?razdel=1&url=sveden/educations" target="_blank">Общие сведения о специальности
						</a>
					</li>
					<p style="font-weight: bold;">
						09.02.07 Информационные системы и программирование. Квалификация Разработчик Веб и мультимедийных приложений
					</p>
					<li>
						<a href="./documents/education/infoProg/ITWeb.rar" target="_blank">Адаптированные образовательные программы по специальности 09.02.07 Информационные системы и программирование. Квалификация Разработчик Веб и мультимедийных приложений</a>
					</li>
					<li>
						<a href="https://www.pkgn.ru/index.php?razdel=1&url=sveden/educations" target="_blank">Общие сведения о специальности
						</a>
					</li>
					<p style="font-weight: bold;">
						09.02.07 Информационные системы и программирование. Квалификация Программист
					</p>
					<li>
						<a href="./documents/education/infoProg/ITProg.rar">Адаптированные образовательные программы по специальности 09.02.07 Информационные системы и программирование. Квалификация Программист</a>
					</li>
					<li>
						<a href="https://www.pkgn.ru/index.php?razdel=1&url=sveden/educations" target="_blank">Общие сведения о специальности
						</a>
					</li>
					<p style="font-weight: bold;">
						38.02.08. Торговое дело
					</p>
					<li>
						<a href="./documents/education/infoProg/Komercia.rar">Адаптированные образовательные программы по специальности 38.02.04 Коммерция (по отраслям)</a>
					</li>
					<li>
						<a href="https://www.pkgn.ru/index.php?razdel=1&url=sveden/educations" target="_blank">Общие сведения о специальности
						</a>
					</li>
					<p style="font-weight: bold;">
						09.02.06 Сетевое и системное администрирование
					</p>
					<li>
						<a href="./documents/education/infoProg/SiSA.rar">Адаптированные образовательные программы по специальности 09.02.06 Сетевое и системное администрирование</a>
					</li>
					<li>
						<a href="https://www.pkgn.ru/index.php?razdel=1&url=sveden/educations" target="_blank">Общие сведения о специальности
						</a>
					</li>
					<p style="font-weight: bold;">
						39.02.01 Социальная работа
					</p>
					<li>
						<a href="./documents/education/infoProg/SocialWork.rar">Адаптированные образовательные программы по специальности 39.02.01 Социальная работа</a>
					</li>
					<li>
						<a href="https://www.pkgn.ru/index.php?razdel=1&url=sveden/educations" target="_blank">Общие сведения о специальности
						</a>
					</li>
					<p style="font-weight: bold;">
						23.02.07 Техническое обслуживание и ремонт двигателей, систем и агрегатов автомобилей
					</p>
					<li>
						<a href="./documents/education/infoProg/TehObsl.rar">Адаптированные образовательные программы по специальности 23.02.07 Техническое обслуживание и ремонт двигателей, систем и агрегатов автомобилей</a>
					</li>
					<li>
						<a href="https://www.pkgn.ru/index.php?razdel=1&url=sveden/educations" target="_blank">Общие сведения о специальности
						</a>
					</li>
					<p style="font-weight: bold;">
						43.02.16 Туризм и гостеприимство
					</p>
					<li>
						<a href="./documents/education/infoProg/Tourism.rar">Адаптированные образовательные программы по специальности 43.02.16 Туризм и гостеприимство</a>
					</li>
					<li>
						<a href="https://www.pkgn.ru/index.php?razdel=1&url=sveden/educations" target="_blank">Общие сведения о специальности
						</a>
					</li>
					<p style="font-weight: bold;">
						38.02.01 Экономика и бухгалтерский учет (по отраслям)
					</p>
					<li>
						<a href="./documents/education/infoProg/Economic.rar">Адаптированные образовательные программы по специальности 38.02.01 Экономика и бухгалтерский учет (по отраслям)</a>
					</li>
					<li>
						<a href="https://www.pkgn.ru/index.php?razdel=1&url=sveden/educations" target="_blank">Общие сведения о специальности
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="tap-row" id="tapRow">
			<div class="flex-row flex-row-education">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Информация о реализуемых адаптированных образовательных программах для лиц с нарушением ителлекта</p>
			</div>
			<div class="slide-block" id="slide">
				<ul>
					<li>
						<a href="https://disk.yandex.ru/i/D-eiqY7aP9Ng-w" target="_blank">13249 Кухонный рабочий
						</a>
					</li>
					<li>
						<a href="https://disk.yandex.ru/i/sSy7QgQ_rl56mg" target="_blank">19258 Уборщик производственных помещений
						</a>
					</li>	
					<li>
						<a href="https://disk.yandex.ru/i/s4d5xCtq6PUnpw" target="_blank">18111 Санитар ветеринарный
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="tap-row" id="tapRow">
			<div class="flex-row flex-row-education">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Методические рекомендации</p>
			</div>
			<div class="slide-block" id="slide">
				<ul>
					<li>
						<a href="./documents/education/methRec/МЕТОДИЧЕСКИЕ_РЕКОМЕНДАЦИИ_ПО_КОМПЛЕКСНОМУ.pdf" target="_blank">МЕТОДИЧЕСКИЕ РЕКОМЕНДАЦИИ ПО КОМПЛЕКСНОМУ ПСИХОЛОГО-ПЕДАГОГИЧЕСКОМУ, В ТОМ ЧИСЛЕ ТЬЮТОРСКОМУ, СОПРОВОЖДЕНИЮ СТУДЕНТОВ С ИНВАЛИДНОСТЬЮ И С ОГРАНИЧЕННЫМИ ВОЗМОЖНОСТЯМИ ЗДОРОВЬЯ, ОБУЧАЮЩИХСЯ ПО ПРОГРАММАМ СРЕДНЕГО ПРОФЕССИОНАЛЬНОГО ОБРАЗОВАНИЯ
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/Схема_содействия_профориентации_лиц_с_ОВЗ.pdf" target="_blank">Схема содействия профориентации лиц с ОВЗ
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/2_5309813715233690789.pdf" target="_blank">МЕТОДИЧЕСКИЕ РЕКОМЕНДАЦИИ ПО ОРГАНИЗАЦИИ РАБОТЫ ПЕРЕВОДЧИКОВ РУССКОГО ЖЕСТОВОГО ЯЗЫКА В РАМКАХ РЕАЛИЗАЦИИ ПРОГРАММ СРЕДНЕГО ПРОФЕССИОНАЛЬНОГО ОБРАЗОВАНИЯ
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/2_5309813715233690780.pdf" target="_blank">Методические рекомендации по внедрению единых требований к наличию специалистов, обеспечивающих комплексное сопровождение образовательного процесса обучающихся с инвалидностью и ограниченными возможностями здоровья при получении среднего профессионального образования и профессионального обучения
						</a>
					</li>
					<li>
						<a href="https://fmc-spo.ru/netcat_files/106/145/h_8f01c32556a019cac20ef75f42fa96d2" target="_blank">Примерный регламент взаимодействия ПМПК, МСЭ, БПОО, ПОО
						</a>
					</li>
					<li>
						<a href="https://fmc-spo.ru/netcat_files/106/145/h_a8301687da1fd7e2a4d2719ce0cee587" target="_blank">Методические рекомендации РЖЯ 1.0
						</a>
					</li>
					<li>
						<a href="https://fmc-spo.ru/netcat_files/106/145/h_c2aa3fa325b16ea5c983ce582e498b44" target="_blank">РЖЯ Информационные технологии 1.0
						</a>
					</li>
					<li>
						<a href="https://fmc-spo.ru/netcat_files/106/145/h_c2aa3fa325b16ea5c983ce582e498b44" target="_blank">РЖЯ Информационные технологии 1.0
						</a>
					</li>
					<li>
						<a href="https://fmc-spo.ru/netcat_files/106/145/h_5cf855d2ac33fbe0b71dcce12fb3dffa" target="_blank">РЖЯ Поварское и кондитерское дело 1.0
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/organizaciaobuch.pdf" target="_blank">Организация обучения инструктирования
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/trebkosnach.pdf" target="_blank">Требования к оснащенности образовательного процесса
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/metodPoRealz.pdf" target="_blank">Методические рекомендации по разработке (актуализации) и реализации примерных адаптированных образовательных программ среднего профессионального образования
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/metodPoRazrabotke.pdf" target="_blank">Методические рекомендации по организации и осуществлению образовательной деятельности по программам профессионального обучения лиц с умственной отсталостью (нарушениями интеллектуального развития)
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/tipmodel1.pdf" target="_blank">Типовая модель работы инклюзивной площадки движения «Абилимпикс» в рамках инклюзивных смен на базе детских центров
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/tipmodel2.pdf" target="_blank">
							Типовое обучающее задание по компетенции «Слесарь по ремонту автомобилей» (для обучающихся с нарушением опорно-двигательного аппарата (нарушение нижних конечностей)
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/tipmodel3.pdf" target="_blank">
							Типовое обучающее задание по компетенции «Бухгалтер» (для обучающихся с нарушением слуха)
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/tipmodel4.pdf" target="_blank">
							Типовое обучающее задание по компетенции «Маляр»/«Штукатур» (для обучающихся с нарушением интеллектуального развития)
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/tipmodel5.pdf" target="_blank">
							Типовое обучающее задание по компетенции «Медицинская сестра» для обучающихся с нарушением опорно-двигательного аппарата (нарушение нижних конечностей)
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/tipmodel6.pdf" target="_blank">
							Типовое обучающее задание по компетенции «Парикмахер» (для обучающихся с нарушением слуха)
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/tipmodel7.pdf" target="_blank">
							Типовое обучающее задание по компетенции «Повар»/«Кондитер» (для обучающихся с нарушением слуха)
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/tipmodel8.pdf" target="_blank">
							Типовое обучающее задание по компетенции «Программист» (для обучающихся с ОДА)
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/tipmodel9.pdf" target="_blank">
							Типовое обучающее задание по компетенции «Рабочий зеленого хозяйства» (для обучающихся с нарушением слуха)
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/tipmodel10.pdf" target="_blank">
							Типовое обучающее задание по компетенции «Столяр» (для обучающихся с нарушением слуха)
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/tipmodel11.pdf" target="_blank">
							Типовое обучающее задание по компетенции «Швея» (для обучающихся с нарушением слуха)
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/metodvnedr.pdf" target="_blank">
							Методические рекомендации по внедрению единых требований к наличию специалистов, обеспечивающих комплексное сопровождение образовательного процесса обучающихся с инвалидностью и ОВЗ при получении СПО и ПО
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/metod.pdf" target="_blank">
							Методические рекомендации для работодателей по созданию условий и организации рабочих мест для людей с инвалидностью и с ограниченными возможностями здоровья (ОВЗ)
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/prik.pdf" target="_blank">
							Методические рекомендации по разработке и реализации адаптированных образовательных программ среднего профессионального образования
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/metodBB.pdf" target="_blank">
							МЕТОДИЧЕСКИЕ РЕКОМЕНДАЦИИ по реализации проекта по профессиональной ориентации обучающихся 6-11 классов общеобразовательной школы «Билет в будущее»
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/metodPP.pdf" target="_blank">
							Методические рекомендации по разработке программ профессиональных проб в рамках проекта профессиональной ориентации обучающихся 6-11 классов общеобразовательных организаций «Билет в будущее
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/metodKPP.pdf" target="_blank">
							МЕТОДИЧЕСКИЕ РЕКОМЕНДАЦИИ ПО КОМПЛЕКСНОМУ ПСИХОЛОГО-ПЕДАГОГИЧЕСКОМУ, В ТОМ ЧИСЛЕ ТЬЮТОРСКОМУ, СОПРОВОЖДЕНИЮ СТУДЕНТОВ С ИНВАЛИДНОСТЬЮ И С ОГРАНИЧЕННЫМИ ВОЗМОЖНОСТЯМИ ЗДОРОВЬЯ, ОБУЧАЮЩИХСЯ ПО ПРОГРАММАМ СРЕДНЕГО ПРОФЕССИОНАЛЬНОГО ОБРАЗОВАНИЯ
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/pamyatka1.pdf" target="_blank">
							Памятка по этике общения с лицами имеющие инвалидность (1)
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/pamyatka2.pdf" target="_blank">
							Памятка по этике общения с лицами имеющие инвалидность (2)
						</a>
					</li>
					<li>
						<a href="./documents/education/methRec/regsotrud.pdf" target="_blank">
							Регламент действий сотрудников
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="tap-row" id="tapRow">
			<div class="flex-row flex-row-education">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Информация об условиях для инвалидов и лиц с ОВЗ</p>
			</div>
			<div class="slide-block" id="slide">
				<ul>
					<li>
						<a href="./documents/education/infoUslov/1.pdf" target="_blank">
							Рекомендации по оснащению профессиональных образовательных организации для обучения лиц с инвалидностью и ОВЗ 
						</a>
					</li>
					<li>
						<a href="./documents/education/infoUslov/2.pdf" target="_blank">
							Рекомендации по обязанностям специалистов
						</a>
					</li>
					<li>
						<a href="./documents/education/infoUslov/FuncSpecial.pdf" target="_blank">
							Основные задачи и функции специалистов сопровождения обучающихся с инвалидностью и ОВЗ
						</a>
					</li>
					<li>
						<a href="./documents/education/infoUslov/MetOkazHelp.pdf" target="_blank">
							Рекомендации по взаимодействию и оказанию помощи инвалидам
						</a>
					</li>
					<li>
						<a href="./documents/education/infoUslov/MetOsnovnPrav.pdf" target="_blank">
							Основные правила при взаимодействии с людьми с ограниченными возможностями здоровья: специфика и особенности
						</a>
					</li>
					<li>
						<a href="./documents/education/infoUslov/MetTrebDostup.pdf" target="_blank">
							Требования к доступности территории для инвалидов и иных маломобильных групп населения
						</a>
					</li>
					<li>
						<a href="./documents/education/infoUslov/RecPoDeyat.pdf" target="_blank">
							Рекомендации по деятельности профессиональной образовательной организации в процессе организации психолого - педагогического сопровождения обучающихся с инвалидностью и ОВЗ 
						</a>
					</li>
					<li>
						<a href="./documents/education/infoUslov/RecPoObyaz.pdf" target="_blank">
							Рекомендации по обязанностям специалистов, обеспечивающих инклюзивное среднее профессиональное образование и профессиональное обучение инвалидов и лиц с ограниченными возможностями здоровья
						</a>
					</li>
					<li>
						<a href="./documents/education/infoUslov/RecPoOsnash.pdf" target="_blank">
							Рекомендации по оснащению профессиональных образовательных организации для обучения лиц с инвалидностью и ОВЗ
						</a>
					</li>
					<li>
						<a href="./documents/education/infoUslov/DIFFERENTsIROVANNYJ_PODKhOD_K_SODERZhANIYu_I.pdf" target="_blank">
							Дифференцированный подход к содержанию и организации образования обучающихся с ОВЗ
						</a>
					</li>
					<li>
						<a href="./documents/education/infoUslov/TEKhNOLOGII_FORMIROVANIYa_UNIVERSAL_NYKh_I_BAZO-VYKh_UChEBNYKh_DEJSTVIJ_U_OBUChAYuSchIKhSYa_S_OVZ.pdf" target="_blank">
							Технологии формирования универсальных и базовых учебных действий у обучающихся с ОВЗ
						</a>
					</li>
					<li>
						<a href="./documents/education/infoUslov/Spravochnik_tekhnologiy.pdf" target="_blank">
							Технология инклюзивного образования в условиях ФГОС в СПО
						</a>
					</li>
					<li>
						<a href="./documents/education/infoUslov/Tyutorskoe_soprovozhdenie_obuchayuschikhsya_v_sisteme_inklyuzivnogo_obrazovania.pdf" target="_blank">
							Тьюторское сопровождение детей инвалидов и лиц с ограниченными возможностями здоровья в системе инклюзивного образования региона
						</a>
					</li>
					<li>
						<a href="./documents/education/infoUslov/Rol_assistenta_pomoschnika_pri_rabote_so_studentami_boleyuschikh_sakharnym_diabetom.pdf" target="_blank">
							Памятка «Организация сопровождения студентов, страдающих сахарным диабетом, в сфере профессионального образования»
						</a>
					</li>
					<li>
						<a href="./documents/education/infoUslov/Rol_assistenta_pomoschnika_pri_rabote_so_studentami_stradayuschikh_epilepsiey.pdf" target="_blank">
							Роль ассистента (помощника) по сопровождению студентов, страдающих эпилепсией, в сфере профессионального образования
						</a>
					</li>
					<li>
						<a href="./documents/education/infoUslov/Organizatsia_soprovozhdenia_studentov_s_narusheniami_RAS_v_POO.pdf" target="_blank">
							Организация сопровождения студентов с расстройствами аутистического спектра в профессиональном образовании
						</a>
					</li>
					<li>
						<a href="./documents/education/infoUslov/Organizatsia_soprovozhdenia_studentov_s_tyazhelymi_narusheniami_rechi.pdf" target="_blank">
							Организация сопровождения студентов с тяжёлыми нарушениями речи в сфере профессионального образования
						</a>
					</li>
					<li>
						<a href="./documents/education/infoUslov/Osobennosti_proforientatsii_detey_s_invalidnostyu_i_Ovz.pdf" target="_blank">
							Особенности профориентации детей с ОВЗ и инвалидностью
						</a>
					</li>
					<li>
						<a href="./documents/education/infoUslov/MR_vnedreniyu_edinykh_trebovaniy_k_speitsalistam_po_soprovozhdeniyu_ovz.pdf" target="_blank">
							Методические рекомендации по внедрению единых требований к специалистам, сопровождающим образовательный процесс обучающихся с инвалидностью и ограниченными возможностями здоровья в среднем профессиональном образовании и профессиональном обучении
						</a>
					</li>
					<li>
						<a href="./documents/education/infoUslov/Rekomendatsii_ETIKA_OBSchENIYa_S_LYuD_MI.pdf" target="_blank">
							Этика общения с людьми с ограниченными возможностями здоровья
						</a>
					</li>
					<li>
						<a href="./documents/education/infoUslov/NARUShENIE_ZRENIYa.pdf" target="_blank">
							Особенности обучения и психолого-педагогического сопровождения детей с нарушением зрения в условиях ФГОС Методические рекомендации
						</a>
					</li>
					<li>
						<a href="./documents/education/infoUslov/Organizatsia_soprovozhdenia_studentov_s_narusheniem_slukha.pdf" target="_blank">
							Организация сопровождения студентов с нарушением слуха в профессиональном образовании Методические рекомендации
						</a>
					</li>
					<li>
						<a href="./documents/education/infoUslov/UREGULIROVANIE_KONFLIKTOV.pdf" target="_blank">
							Рекомендации по урегулирование конфликтов с участием студентов с ОВЗ и инвалидностью
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="tap-row" id="tapRow">
			<div class="flex-row flex-row-education">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Макеты адаптированных образовательных программах</p>
			</div>
			<div class="slide-block" id="slide">
				<ul>
					<p style="font-weight: bold;">
						Макет 2024 - ПАОП-Профессионалитет 23.01.17 Мастер по ремонту и обслуживанию автомобилей
					</p>
						<li>
							<a href="./documents/education/MaketsAOP/23.01.17 ПОП-П ОЧ.docx" target="_blank">ПРИМЕРНАЯ АДАПТИРОВАННАЯ ОБРАЗОВАТЕЛЬНАЯ ПРОГРАММА «ПРОФЕССИОНАЛИТЕТ»</a>
						</li>
						<li>
							<a href="./documents/education/MaketsAOP/23.01.17 ПОП-П Приложение 1 ПМ.docx" target="_blank">ПРИМЕРНЫЕ АДАПТИРОВАННЫЕ РАБОЧИЕ ПРОГРАММЫ ПРОФЕССИОНАЛЬНЫХ МОДУЛЕЙ</a>
						</li>
						<li>
							<a href="./documents/education/MaketsAOP/23.01.17 ПОП-П Приложение 2 УД.docx" target="_blank">ПРИМЕРНЫЕ АДАПТИРОВАННАЯ РАБОЧИЕ ПРОГРАММЫ ДИСЦИПЛИН</a>
						</li>
						<li>
							<a href="./documents/education/MaketsAOP/23.01.17 ПОП-П Приложение 3 МТО.docx" target="_blank">Материально-техническое оснащение специальных помещений для реализации адаптированной образовательной программы, включая программное обеспечение</a>
						</li>
						<li>
							<a href="./documents/education/MaketsAOP/23.01.17 ПОП-П Приложение 4 ГИА.docx" target="_blank">ПРИМЕРНАЯ АДАПТИРОВАННАЯ ПРОГРАММА ГОСУДАРСТВЕННОЙ ИТОГОВОЙ АТТЕСТАЦИИ</a>
						</li>
						<li>
							<a href="./documents/education/MaketsAOP/23.01.17 ПОП-П Приложение 5 ПРПВ.docx" target="_blank">ПРИМЕРНАЯ АДАПТИРОВАННАЯ РАБОЧАЯ ПРОГРАММА ВОСПИТАНИЯ</a>
						</li>
					<p style="font-weight: bold;">
						Макет 2024 - ПАОП СПО 09.02.13 Интеграция решений с применением технологий искусственного интеллекта
					</p>
						<li>
							<a href="./documents/education/MaketsAOP/09.02.13 ПОП ОЧ.docx" target="_blank">ПРИМЕРНАЯ АДАПТИРОВАННАЯ ОБРАЗОВАТЕЛЬНАЯ ПРОГРАММА СРЕДНЕГО ПРОФЕССИОНАЛЬНОГО ОБРАЗОВАНИЯ</a>
						</li>
						<li>
							<a href="./documents/education/MaketsAOP/09.02.13 ПОП Приложение 1ПМ.docx" target="_blank">ПРИМЕРНЫЕ АДАПТИРОВАННЫЕ РАБОЧИЕ ПРОГРАММЫ ПРОФЕССИОНАЛЬНЫХ МОДУЛЕЙ</a>
						</li>
						<li>
							<a href="./documents/education/MaketsAOP/09.02.13 ПОП Приложение 2 УД.docx" target="_blank">ПРИМЕРНЫЕ АДАПТИРОВАННЫЕ РАБОЧИЕ ПРОГРАММЫ ДИСЦИПЛИН</a>
						</li>
						<li>
							<a href="./documents/education/MaketsAOP/09.02.13 ПОП Приложение 3 МТО.docx" target="_blank">Материально-техническое оснащение специальных помещений для реализации адаптированной образовательной программы, включая программное обеспечение</a>
						</li>
						<li>
							<a href="./documents/education/MaketsAOP/09.02.13 ПОП Приложение 4 ГИА.docx" target="_blank">ПРИМЕРНАЯ АДАПТИРОВАННАЯ ПРОГРАММА ГОСУДАРСТВЕННОЙ ИТОГОВОЙ АТТЕСТАЦИИ</a>
						</li>
						<li>
							<a href="./documents/education/MaketsAOP/09.02.13 ПОП Приложение 5 ПРПВ.docx" target="_blank">ПРИМЕРНАЯ АДАПТИРОВАННАЯ РАБОЧАЯ ПРОГРАММА ВОСПИТАНИЯ</a>
						</li>
					<p style="font-weight: bold;">
						Макет 2023 - ПАОП СПО 11.01.08 Оператор почтовой связи
					</p>
						<li>
							<a href="./documents/education/MaketsAOP/Макет 2023 - ПАОП СПО.doc" target="_blank">ПРИМЕРНАЯ АДАПТИРОВАННАЯ ОБРАЗОВАТЕЛЬНАЯ ПРОГРАММА СРЕДНЕГО ПРОФЕССИОНАЛЬНОГО ОБРАЗОВАНИЯ</a>
						</li>
					<p style="font-weight: bold;">
						ПАОП ПО
					</p>
						<li>
							<a href="./documents/education/MaketsAOP/ПАОП ПО.docx" target="_blank">ПРИМЕРНАЯ АДАПТИРОВАННАЯ ОСНОВНАЯ ПРОГРАММА ПРОФЕССИОНАЛЬНОГО ОБУЧЕНИЯ – АДАПТИРОВАННАЯ ПРОГРАММА ПРОФЕССИОНАЛЬНОЙ ПОДГОТОВКИ</a>
						</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="info-wrapper">
		<p class="title-konk">Конкурсы</p>
		<div class="tap-row" id="tapRow">
			<div class="flex-row flex-row-education">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Межрегиональный дистанционный конкурс успешных практик наставничества «Наставник «Абилимпикса»</p>
			</div>
			<div class="slide-block" id="slide">
				<ul>
					<li>
						<a href="./documents/education/Konkurs/конкурс Наставник Абилимпикса2025.pdf" target="_blank">
							Положение конкурса
						</a>
					</li>
					<li>
						<a href="./documents/education/Konkurs/Протокол_межрегионального_дистанционного_конкурса_Наставник_Абилимпикса.pdf" target="_blank">
							Протокол конкурса
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="tap-row" id="tapRow">
			<div class="flex-row flex-row-education">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Межрегиональный дистанционный конкурс семейных историй «Защитник Отечества»</p>
			</div>
			<div class="slide-block" id="slide">
				<ul>
					<li>
						<a href="./documents/education/Konkurs/конкурс защитник Отечества 2025.pdf" target="_blank">
							Положение конкурса
						</a>
					</li>
					<li>
						<a href="./documents/education/Konkurs/Протокол_межрегионального_дистанционного_конкурса_Защитник_Отечества.pdf" target="_blank">
							Протокол конкурса
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="tap-row" id="tapRow">
			<div class="flex-row flex-row-education">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Региональный конкурс рисунков для школьников, имеющих инвалидность и ограниченные возможности здоровья «Мир моей мечты: профессии и роли, которые вдохновляют»</p>
			</div>
			<div class="slide-block" id="slide">
				<ul>
					<li>
						<a href="./documents/education/Konkurs/mirmechti.pdf" target="_blank">
							Положение конкурса
						</a>
					</li>
					<li>
						<a href="./documents/education/Konkurs/Proforientatsionny_kalendar_2025_god.pdf" target="_blank">
							Профориентационный календарь 2025
						</a>
					</li>
					<li>
						<a href="./documents/education/Konkurs/Профориентационный календарь 2024.pdf" target="_blank">
							Профориентационный календарь 2024
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="tap-row" id="tapRow">
			<div class="flex-row flex-row-education">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Региональный дистанционный конкурс о своем увлечении «Я могу, я умею, я делаю!»</p>
			</div>
			<div class="slide-block" id="slide">
				<ul>
					<li>
						<a href="./documents/education/Konkurs/Ya_mogu_polozenie.pdf" target="_blank">
							Положение конкурса
						</a>
					</li>
					<li>
						<a href="./documents/education/Konkurs/protokol_ya_mogu.pdf" target="_blank">
							Протокол конкурса
						</a>
					</li>
					<!--<li>
						<a href="./documents/education/Konkurs/itogk1.pdf" target="_blank">
							Итоговый список результатов конкурса
						</a>
					</li>-->
				</ul>
			</div>
		</div>
		<div class="tap-row" id="tapRow">
			<div class="flex-row flex-row-education">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Региональный конкурс поздравительных открыток «ПроПрофи»</p>
			</div>
			<div class="slide-block" id="slide">
				<ul>
					<li>
						<a href="./documents/education/Konkurs/ProfProfi23.pdf" target="_blank">
							Положение о проведении регионального конкурса
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="tap-row" id="tapRow">
			<div class="flex-row flex-row-education">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Всероссийский дистанционный конкурс фотографий «Разные грани»</p>
			</div>
			<div class="slide-block" id="slide">
				<ul>
					<li>
						<a href="./documents/education/Konkurs/Положение_Фотоконкурса_Разные_грани_2025.pdf" target="_blank">
							Положение фотоконкурса
						</a>
					</li>
					<li>
						<a href="./documents/education/Konkurs/protraz.pdf" target="_blank">
							Протокол фотоконкурса
						</a>
					</li>
					<li>
						<a href="./documents/education/Konkurs/spisk.pdf" target="_blank">
							Список по номинациям (баллы)
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="tap-row" id="tapRow">
			<div class="flex-row flex-row-education">
				<img src="./images/minus.png" id="minus" />
				<img src="./images/plus.png" id="plus"  />
				<p>Региональный конкурс для школьников, имеющих инвалидность и ограниченные возможности здоровья «Мир моей профессии»</p>
			</div>
			<div class="slide-block" id="slide">
				<ul>
					<li>
						<a href="./documents/education/Konkurs/Polozenie_Mir_moei_professii.pdf" target="_blank">
							Положение о проведении регионального конкурса
						</a>
					</li>
					<li>
						<a href="./documents/education/Konkurs/protokol_mir_moei_professii.pdf" target="_blank">
							Протокол конкурса
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>