<div class="info-container-events">
	<div class="info-tittle">
		<p>Мероприятия</p>
		<div class="line"></div>
	</div>
	<div class="events-wrapper">
		<div class="events-navigation">
			<ul>
				<li>
					<p id="tapConf">
						<a href="javascript:scroll(0,0)">Конференции</a>
					</p>
				</li>
				<li>
					<p id="tapWebConf">
						<a href="javascript:scroll(0,0)">Вебинары</a>
					</p>
				</li>
				<li>
					<p id="tapAbilim">
						<a href="javascript:scroll(0,0)">Абилимпикс</a>
					</p>
				</li>
			</ul>
		</div>
		<div class="events-app" id="eventsApp">
			<div class="events-loader">
				<div class="spinner"></div>
			</div>
			<div class="conferences event-info" id="conferences">
				<div class="events-tittle">
					<p>Конференции</p>
					<div class="events-line"></div>
				</div>
				<div class="news">
					<div class="new-block">
						<p class="tittle-new-block">
							Эстафета «Профориентир-2025» - день 4
						</p>
						<div class="content-new-block">
							<iframe src="https://vkvideo.ru/video_ext.php?oid=-211180351&id=456239274&hash=a814ed89f5951458" width="426" height="240" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							10.04.2025
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Эстафета «Профориентир-2025» - день 3
						</p>
						<div class="content-new-block">
							<iframe src="https://vkvideo.ru/video_ext.php?oid=-211180351&id=456239270&hd=2&hash=4494d4bf897a629a" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							09.04.2025
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Эстафета «Профориентир-2025» - день 2
						</p>
						<div class="content-new-block">
							<iframe src="https://vkvideo.ru/video_ext.php?oid=-211180351&id=456239269&hd=2&hash=1422bf306336a8fe" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							08.04.2025
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Эстафета «Профориентир-2025» - день 1
						</p>
						<div class="content-new-block">
							<iframe src="https://vkvideo.ru/video_ext.php?oid=-211180351&id=456239268&hd=2&hash=8f27fd381e35c727" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							07.04.2025
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							III Межрегиональная научно-практическая конференция «Инклюзивное профессиональное образование: опыт, поиск, развитие»
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239267&hd=2&hash=d0e2e44f82423349" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							07.04.2025
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Всероссийская научно-практическая конференция «Слово о труде: теория и практика профориентации в инклюзивном образовании»
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239264&hd=2&hash=0e8b9674d363b192" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							26.03.2025
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Всероссийская научно-практическая конференция с международным участием «Эффективные стратегии обучения и воспитания обучающихся с инвалидностью и ограниченными возможностями здоровья в условиях инклюзивного образования: задачи, вызовы, решения»
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239263&hd=2&hash=e009e14db05a7ac5" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							26.03.2025
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Конференция «Абилимпикс — путь к успеху»<br> «Успешность трудоустройства участников «Абилимпикса» в Кузбассе»
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239254&hash=a7b9c7a6ac4c55aa" width="426" height="240" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							20.03.2025
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Межрегиональный круглый стол «Успешные практики межведомственного взаимодействия по вопросам доступности инклюзивного высшего образования»
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239246&hd=2&hash=98249712729c372f" width="853" height="480" allow="encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							12.12.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Круглый стол на тему «Сопровождение профессионального самоопределения обучающихся с ограниченными возможностями здоровья»
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239221&hd=2" width="853" height="480" allow="encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							28.11.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Всероссийская научно-практическая конференция с международным участием «Сетевое и межведомственное взаимодействие как эффективный инструмент развития универсального дизайна образовательной среды»
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239208&hd=2&hash=c496b2e159e936d8" width="853" height="480" allow="encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							14.11.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							межрегиональная конференция на тему «Актуальные вопросы порядка обеспечения условий доступности объектов и предоставляемых услуг для инвалидов и лиц с ограниченными возможностями здоровья, а также оказания им необходимой помощи»
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239204&hd=2&hash=9acded21916ff126" width="853" height="480" allow="encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							31.10.2024
						</p>
						<a href="../documents/events/webConf/sbornic_statei.pdf" class="link-new-block">Сборник</a>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Региональное совещание по вопросам работы профессиональных образовательных организаций в системе инклюзивного профессионального образования
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239194&hd=2&hash=f8699635ef5d59ce" allow="encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							10.09.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Всероссийская педагогическая конференция на тему: «Актуальные вопросы социализации и профессиональной ориентации лиц с ограниченными возможностями здоровья: от общего образования к профессиональному»
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239162&hash=62b4972368a2b29a" allow="encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							12.04.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Пресс-конференция «Практики работы со студентами с особыми образовательными потребностями в СПО»
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239146&hash=c311a2321fd22163" allow="encrypted-media; fullscreen; picture-in-picture"></iframe>
						</div>
						<p class="date-new-block">
							10.04.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Заседание специалистов «Психолого-медико-педагогическая поддержка студентов инвалидов и лиц с ОВЗ в работе специалистов СПО»
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239145&hash=1dfbdf121a1f2742" allow="encrypted-media; fullscreen; picture-in-picture"></iframe>
						</div>
						<p class="date-new-block">
							09.04.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Межрегиональный круглый стол «Практика трудоустройства участников конкурса «Абилимпикс», как фактор успешности молодежи»
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239144&hash=1e40b97f5a5a8bd2" allow="encrypted-media; fullscreen; picture-in-picture"></iframe>
						</div>
						<p class="date-new-block">
							08.04.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Региональный семинар «Создание и обеспечение доступности образоват. среды при получении профессии»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/uuDZfvi12Ps" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							01.02.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Региональное совещание с ПОО Кузбасса по вопросам работы в регионе в системе инклюзивного образования
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/-WL2rkcJtNE" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							30.01.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Творческий фестиваль «Мы вместе сотрём границы – 2023»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/1ny0WxxB-vQ" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							15.12.2023
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							«Профессиональная социализация и трудоустройство выпускников с особыми образовательными потребностями через конкурсы профессионального мастерства»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/LiN7rRPDnEA" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							29.11.2023
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Региональный семинар «Организация псхолого-медико-педагогического сопровождения в условиях образовательного учреждения с целью создания оптимальных условий для развития личности будущего профессионала»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/UK0VD4VAEco" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							19.10.2023
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Региональный семинар «Волонтерское движение в рамках конкурса «Абилимпикс»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/q0OlegK_XZI" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							06.10.2023
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Региональное совещание с ПОО Кузбасса по вопросам работы в регионе в системе инклюзивного образования
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/kuvaGXoKIRU?si=j8HxKvozQhtdJEAL" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							05.09.2023
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Региональный семинар «Трансляция лучших практик по приобретению социальных навыков выпускников с ОВЗ»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/fwZbkXFIVSs" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							25.05.2023
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Региональное совещание по вопросам результатов мониторинга показателей доступности ПОО региона
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/wT-s6XJa5io" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							23.05.2023
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Совещание-диалог «Пути решения проблем трудоустройства инвалидов и лиц с ОВЗ»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/XUiN4KG5cyU" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							18.04.2023
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Брифинг «Практики работы со студентами с особыми образовательными потребностями в СПО»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/he6pUwFfDf0" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							17.04.2023
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Презентация проекта «Кухня ручной работы»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/TFxApoWnhj4" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							14.04.2023
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							«Комплексный подход к психолого-медико-педагогической поддержке студентов инвалидов и лиц с ОВЗ»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/YC1W2TMmupk" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							14.04.2023
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							«Как учатся студенты с инвалидностью в системе среднего профессионального образования»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/8dT5BICtYZk" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							27.04.2023
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Межрегиональная научно-практическая конференция
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/nq66UJIYiqA" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							20.04.2023
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Межведомственное взаимодействие в реализации программы сопровождения инвалидов молодого возраста
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/Hn8s7JEhDwE" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							20.04.2023
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Региональный семинар «Сетевое взаимодействие с НКО по вопросам трудоустройства выпускников с ОВЗ»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/ZePuBOMOZAY" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							20.04.2023
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Эстафета «Профориентир»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/KT4vyPDYz3c" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							24.03.2023
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							«Здоровье и развитие личности. Инклюзивная практика в системе образования Кузбасса»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/2Cq0FtFj-zE" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							20.03.2023
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Эстафета «Профориентир»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/KJVxoTGA8Fg" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							17.03.2023
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Эстафета «Профориентир»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/mn_d4GjyUFk" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							17.03.2023
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Эстафета «Профориентир»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/fWCq-5_YdsE" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							10.03.2023
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Эстафета «Профориентир»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/96XDbW2mvJg" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							03.03.2023
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Эстафета «Профориентир»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/Ip0FeI7XXiQ" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							05.05.2022
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Эстафета «Профориентир»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/SWk5OKFWXs8" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							26.04.2022
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Эстафета «Профориентир»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/Q4VC0jS80m4" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							19.04.2022
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Эстафета «Профориентир»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/9tgz4OL50nM" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							12.04.2022
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Межрегиональный круглый стол «Трудоустройство инвалидов от круглого стола к прямым решениям»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/_kxe7l8ROwc" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							11.05.2022
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Панельная дискуссия «Инклюзивная практика в ПОО региона»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/cEgD6RzhflI" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							25.03.2022
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Круглый стол «Трудоустройство инвалидов от круглого стола к прямым решениям»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/bxxPDKOtcV4" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							23.03.2022
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Public talk «Сотрудничество образовательных организаций и общественных организаций в вопросах обучения, воспитания, трудоустройства людей с инвалидностью и ограниченными возможностями здоровья»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/4NJkukRLjUY" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							21.03.2022
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Реализация региональных программ сопровождения инвалидов молодого возраста при получении ими профессионального образования и содействия в последующем трудоустройстве с учетом динамики изменения состояния рынка труда в субъекте Российской Федерации
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/aHzhxq73dbI" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							14-16.04.2021
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Лучшие практики 2021 в инклюзивном профессиональном образовании в Кузбассе
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/5M2uyrAD510" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							03.12.2021
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Совершенствование условий для доступности обучения инвалидов и лиц с ОВЗ
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/9ZT0QJSoRU8" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							29.11.2021
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Доступная среда – право на полноценную жизнь в обществе
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/mFmZjaGfE2E" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							12.11.2021
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							День открытых дверей образовательных организаций Кузбасса 
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/J6dFNiLO1oE" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							21.05.2021
						</p>
					</div>
				</div>
			</div>
			<div class="web-conferences event-info" id="webConferences">
				<div class="events-tittle">
					<p>Вебинары</p>
					<div class="events-line"></div>
				</div>
				<div class="news">
					<div class="new-block">
						<p class="tittle-new-block">
							Региональный вебинар «Психолого-педагогическое сопровождение и организация помощи семьям, воспитывающих детей-инвалидов»
						</p>
						<div class="content-new-block">
							<iframe src="https://vkvideo.ru/video_ext.php?oid=-211180351&id=456239273&hd=2&hash=4c3195eb20979ebe" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							10.04.2025
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Региональный вебинар «Опыт участия в чемпионате профессионального мастерства для лиц с ограниченными возможностями здоровья и инвалидностью «Абилимпикс»
						</p>
						<div class="content-new-block">
							<iframe src="https://vkvideo.ru/video_ext.php?oid=-211180351&id=456239253&hd=2&hash=dd47952e633d34cf" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							20.03.2025
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Региональный вебинар «Наставничество в инклюзивном процессе»
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239250&hd=2&hash=8418d2694c4291f7" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							20.02.2025
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Региональный семинар «Атлас доступных профессий в регионе»
						</p>
						<div class="content-new-block">
							<iframe src="https://vkvideo.ru/video_ext.php?oid=-211180351&id=456239248&hd=2&hash=9c4b42c4ae675b2f" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							23.01.2025
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Всероссийский вебинар «Актуальные технологии и инструменты трудоустройства выпускников с инвалидностью и ОВЗ»
						</p>
						<div class="content-new-block">
							<iframe src="https://vkvideo.ru/video_ext.php?oid=-211180351&id=456239244&hd=2&hash=c7732a9ca3c5ca72" width="853" height="480" allow="encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							11.12.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Региональный вебинар «Эффективные практики профессионального самоопределения и адаптации обучающихся с инвалидностью и ограниченными возможностями здоровья»
						</p>
						<div class="content-new-block">
							<iframe src="https://vkvideo.ru/video_ext.php?oid=-211180351&id=456239218&hd=2&hash=a17e159a08d24896" width="853" height="480" allow="encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							27.11.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Региональный семинар «Получение ПО инвалидами и лицами с ограниченными возможностями здоровья»
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239206&hd=2&hash=fce03faf4398b3ed" width="853" height="480" allow="encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							07.11.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Региональный семинар «Создание условий доступности в ПОО Кузбасса, в том числе через организацию сетевого взаимодействия»
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239201&hd=2&hash=1312e29ffa8c3027" width="853" height="480" allow="encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							24.10.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Рабочее совещание в формате ВКС по вопросам обеспечения доступности образования для инвалидов и лиц с ОВЗ
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239198&hd=2&hash=dc8f595f2c31a2ee" width="853" height="480" allow="encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							10.10.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Вебинар «Как создать правильный с точки зрения норм и комфортный для людей с инвалидностью санузел»
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239196&hd=2&hash=8947589cca45c130" width="853" height="480" allow="encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							04.10.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Региональный вебинар «Психолого-педагогическое сопровождение обучающихся из числа инвалидов и лиц с ограниченными возможностями здоровья. Организация помощи семьям, воспитывающих детей-инвалидов»
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239185&hd=2&hash=70307e620fa1f2dd" width="853" height="480" allow="encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							17.04.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">
							Среднее профессиональное образование детей с особыми образовательными потребностями в Кузбассе
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239184&hd=2&hash=d046475ca0b426e1" width="853" height="480" allow="encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							16.04.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">							
							региональный вебинар «Организация профориентационной работы с обучающимися с ОВЗ и инвалидностью при получении востребованных профессий в Кузбассе (топ-50)»
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239182&hd=2&hash=feac249a4aed6cee" width="853" height="480" allow="encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							26.04.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">							
							Эстафета профориентир. Образовательные организации городов: Промышленное, Юрга, Ленинск-Кузнецк, Яя, Анжеро-Судженск, Мариинск, Таштагол, Тяжин и др.
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239152&hd=2&hash=49ba29738acb566c" width="853" height="480" allow="encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							03.04.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">							
							Эстафета профориентир. Образовательные организации городов: Прокопьевска, Киселевска, Белово, Осинников, Мысков, Междуреченска
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239151&hd=2&hash=e3e9e31ee93f7f61" width="853" height="480" allow="encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							02.04.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">							
							Эстафета профориентир. Образовательные организации города Кемерово
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239150&hd=2&hash=46c5315eab7d1b71" width="853" height="480" allow="encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							01.04.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">							
							Эстафета профориентир. Образовательные организации города Новокузнецка
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239148&hd=2&hash=7664cc95f20ee24e" width="853" height="480" allow="encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							29.03.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">							
							Круглый стол «Работа для каждого – индивидуальный подход»
						</p>
						<div class="content-new-block">
							<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239147&hd=2&hash=1ce2f1df8f5baf93" width="853" height="480" allow="encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
						</div>
						<p class="date-new-block">
							28.03.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">							
							Вопросы получения СПО инвалидами и лицами с ограниченными возможностями здоровья
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/OD36qEln9rM" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							20.02.2024
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">							
							ВКС «Актуальные вопросы реабилитации в рамках получения профессионального образования для лиц с ОВЗ» 
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/NfLj37sdAtc" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							20.12.2023
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">							
							Региональный вебинар "Безграничные возможности" 
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/LkZwVSn4xTA" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							19.05.2023
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">							
							Региональный вебинар «Инновации в психолого-педагогическом сопровождении образования обучающихся с ОВЗ» 
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/3XvyDrmySzM" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							27.10.2022
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">							
							Региональное совещание по вопросам работы профессиональных образовательных организаций в Кузбассе в системе инклюзивного образования
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/XxNKjBHOj_A" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							28.09.2022
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">							
							Вебинар «Инклюзивная практика в профессиональном образовании региона»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/ADZnn1imqMA" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							08.04.2022
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">							
							Вопрос-ответ по заполнению чек-листов и комплексных планов
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/Uejw62FyfSM" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							18.02.2022
						</p>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">							
							Вебинар по вопросам организации деятельности в 2022 году 
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/AkP4o23JGo8" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
						<p class="date-new-block">
							07.02.2022
						</p>
						<div class="news-comments">
							<div class="tap-row" id="tapRow">
								<div class="flex-row">
									<img src="./images/minus.png" id="minus" />
									<img src="./images/plus.png" id="plus"  />
									<p>Материалы к вебинару</p>
								</div>
								<div class="slide-block" id="slide">
									<ul>
										<li>
											<a href="./documents/events/webConf/1.pdf" target="_blank">Презентация</a>
										</li>
										<li>
											<a href="./documents/events/webConf/2.pdf" target="_blank">УСТРОЙСТВА ЭКСТРЕННОГО ОТКРЫВАНИЯ ДВЕРЕЙ ЭВАКУАЦИОННЫХ И АВАРИЙНЫХ ВЫХОДОВ (ГОСТ 31471-2011)</a>
										</li>
										<li>
											<a href="./documents/events/webConf/3.pdf" target="_blank">СИСТЕМЫ ЭВАКУАЦИОННЫЕ ФОТОЛЮМИНЕСЦЕНТНЫЕ (ГОСТ 34428-2018)</a>
										</li>
										<li>
											<a href="./documents/events/webConf/4.pdf" target="_blank">СИСТЕМА РАДИОИНФОРМИРОВАНИЯ И ЗВУКОВОГО ОРИЕНТИРОВАНИЯ ДЛЯ ИНВАЛИДОВ ПО ЗРЕНИЮ И ДРУГИХ МАЛОМОБИЛЬНЫХ ГРУПП НАСЕЛЕНИЯ (ГОСТ 59431-2021)</a>
										</li>
										<li>
											<a href="./documents/events/webConf/5.pdf" target="_blank">УСТРОЙСТВА ОПОРНЫЕ СТАЦИОНАРНЫЕ РЕАБИЛИТАЦИОННЫЕ (ГОСТ Р-51261-2017)</a>
										</li>
										<li>
											<a href="./documents/events/webConf/6.pdf" target="_blank">Указатели тактильные наземные для инвалидов по зрению (ГОСТ Р 52875-2019)</a>
										</li>
										<li>
											<a href="./documents/events/webConf/7.pdf" target="_blank">ИНТЕРНЕТ-РЕСУРСЫ И ДРУГАЯ ИНФОРМАЦИЯ, ПРЕДСТАВЛЕННАЯ В ЭЛЕКТРОННО-ЦИФРОВОЙ ФОРМЕ. ПРИЛОЖЕНИЯ ДЛЯ СТАЦИОНАРНЫХ И МОБИЛЬНЫХ УСТРОЙСТВ, ИНЫЕ ПОЛЬЗОВАТЕЛЬСКИЕ ИНТЕРФЕЙСЫ</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">							
							Межрегиональный вебинар-практикум на базе ГБПОУ «Астраханский губернский техникум» совместно с ГПОУ «Профессиональный колледж г.Новокузнецка»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/VVv6YYZ6Plw" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
					</div>
					<div class="new-block">
						<p class="tittle-new-block">							
							Вебинар-практикум ПОО Кузбасса: «Итоги работы региона за 2020 год с инвалидами и лицами с ограниченными возможностями здоровья в системе СПО»
						</p>
						<div class="content-new-block">
							<iframe src="https://www.youtube.com/embed/b2mkNSUYUpw" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
						</div>
					</div>
				</div>
			</div>
			<div class="abilimpiks event-info" id="abilimpiks">
				<div class="events-tittle">
					<p>Абилимпикс</p>
					<div class="events-line"></div>
				</div>
				<div class="news-abilimp">
					<a href="https://abilympics-kuzbass.ru/" target="_blank">
						<img src="./images/logoabilimp.png" />
					</a>
					<a href="https://vk.com/abikuz" class="VKLogo" target="_blank">
						<img src="./images/vklogo.png" />
					</a>
					<a href="https://vk.com/abikuz" class="VKLogo" target="_blank">
						<img src="./images/abnac.jpg" />
					</a>
				</div>
				<div class="formula_uspeha">
					<a href="./documents/events/abilimp/Формула успеха Кузбасса.pdf">
						<img src="./documents/events/abilimp/formula yspeha titulnik.png">
						<style>
							.formula_uspeha > a > img{
								width: 90%; border-radius: 2vw;
								transition: 0.6s;
								margin: 2% 0;
							}
							.formula_uspeha > a > img:hover{
								width: 96%;
								margin: 0;
							}
						</style>
					</a>
				</div>
				<img src="./images/abilimpix1.jpg" style="width: 90%; margin: 0 auto;">
				<iframe src="./documents/events/abilimp/abilimp.pdf"></iframe>
				<div class="tap-row" id="tapRow">
					<div class="flex-row flex-row-education">
						<img src="./images/minus.png" id="minus" />
						<img src="./images/plus.png" id="plus"  />
						<p>Документы</p>
					</div>
					<div class="slide-block" id="slide">
						<ul>
							<li>
								<a href="./documents/events/abilimp/Формула успеха Кузбасса.pdf" target="_blank">
									Формула успеха Кузбасса
								</a>
							</li>
							<li>
								<a href="./documents/events/abilimp/strat.pdf" target="_blank">
									Стратегические направления развития движения Абилимпикс. Форум инклюзии
								</a>
							</li>
							<li>
								<a href="./documents/events/abilimp/fest.pdf" target="_blank">
									Фестиваль возможностей
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>