<div class="info-container-partners">
	<div class="info-tittle">
		<p>Партнеры</p>
		<div class="line"></div>
	</div>
	<p class="caption-on-wrap">Региональные органы исполнительной власти</p>
	<div class="info-center-wrapper">
		<div class="info-center-partners">
			<a href="https://образование42.рф/" target="_blank">
				<p>Министерство образования Кузбасса</p>
				<img src="./images/minobrkuz.png">
			</a>
		</div>
		<div class="partners-info">
			<a href="https://образование42.рф/department/structure/20/" target="_blank">Управление профессионального образования и подготовки кадров Министерства образования Кузбасса</a>
			<a href="./documents/partners/rsio_setmodel2024.pdf" target="_blank">Модель сетевого взаимодействия БПОО Кузбасса</a>
		</div>
	</div>
	<p class="caption-on-wrap">Общественные организации инвалидов</p>
	<div class="wrapper-second-info">
		<ul class="ooi">
			<li>
				<a href="https://fmc-spo.ru" target="_blank">
					Федеральное государственное бюджетное образовательное учреждение дополнительного профессионального образования "Институт развития профессионального образования" Федеральный методический центр по инклюзивному образованию (ФМЦИО)
				</a>
			</li>
			<li>
				<a href="https://www.nc-asi.ru" target="_blank">
					Автономная некоммерческая организация "Национальный центр содействия эколого-социальному и инновационному развитию территории" АНО НЦ АСИ
				</a>
			</li>
			<li>
				<a href="http://вог-кузбасс.рф/" target="_blank">
					Кемеровской региональное отделение ООИ "Всероссийское общество глухих"
				</a>
			</li>
			<li>
				<a href="http://kemoovos.ru/mestnye-organizatsii/novokuznetsk" target="_blank">
					Новокузнецкая местная организация Кемеровской областной организации общероссийской общественной организации инвалидов "Всероссийское ордена Трудового Красного Знамени Общество слепых"
				</a>
			</li>
			<li>
				<a href="http://crdp.kmr.socinfo.ru/" target="_blank">
					МКУ Центр реабилитации детей и подростков с ограниченными возможностями
				</a>
			</li>
			<li>
				<a href="http://voi-42.ru/" target="_blank">
					Кемеровская областная организация Общероссийской общественной организации "Всероссийское общество инвалидов"
				</a>
			</li>
			<li>
				<a href="https://42.gbmse.ru/" target="_blank">
					Федеральное казенное учреждение "Главное бюро медико-социальной экспертизы по Кемеровской области - Кузбассу" Министерства труда и социальной защиты Российской Федерации
				</a>
			</li>
			<li>
				<a href="http://kemerovo.vordi.org/" target="_blank">
					Региональное отделение Кемеровской области "Всероссийской организации родителей детей-инвалидов и инвалидов старше 18 лет с ментальными и иными нарушениями, нуждающихся в представительстве своих интересов (ВОРДИ)"
				</a>
			</li>
			<li>
				<a href="https://vk.com/club100078067" target="_blank">
					Кемеровская региональная общественная организация родителей детей с особенностями в развитии "Наши дети - наша гордость"
				</a>
			</li>
			<li>
				<a href="https://www.kemredcross.ru/" target="_blank">
					Новокузнецкое местное отделение Общероссийской общественной организации «Российский Красный Крест»
				</a>
			</li>
			<li>
				<a href="https://vk.com/slp_42" target="_blank">
					Кемеровская региональная общественная организация «Служба лечебной педагогики»
				</a>
			</li>
			<li>
				<a href="https://fzo.gov.ru" target="_blank">
					Государственный фонд поддержки участников специальной военной операции "Защитники Отечества"
				</a>
			</li>
			<li>
				<a href="https://kuzrc.ru" target="_blank">
					Государственная организация образования «Кузбасский региональный центр психолого-педагогической, медицинской и социальной помощи «Здоровье и развитие личности»
				</a>
			</li>
			<li>
				<a href="https://vk.com/copp42kuzbass" target="_blank">
					ГПОУ «Сибирский политехнический техникум», Центр опережающей профессиональной подготовки
				</a>
			</li>
			<li>
				<a href="https://medical42.ru/tsopp" target="_blank">
					Отраслевой ЦОПП медико-социальной направленности в Кемеровской области - Кузбассе, ГБПОУ "Кузбасский медицинский колледж"
				</a>
			</li>
			<li>
				<a href="https://odt-kuzbass.ru" target="_blank">
					Центр развития движения «Абилимпикс» в Кузбассе Государственное казенное учреждение образования «Центр обеспечения организационно-технической, социально-экономической и воспитательной работы»    
				</a>
			</li>
			<li>
				<a href="http://www.czn-nk.ru" target="_blank">
					Государственное казенное учреждение Центр занятости населения города Новокузнецка    
				</a>
			</li>
			<li>
				<a href="https://центр-образования.рус" target="_blank">
					Государственное общеобразовательное учреждение «Кузбасский центр образования»    
				</a>
			</li>
			<li>
				<a href="https://krirpo.ru" target="_blank">
					Государственное бюджетное учреждение дополнительного профессионального образования «Кузбасский региональный институт развития профессионального образования» (КРИРПО) РЦРД Кузбасса    
				</a>
			</li>
		</ul>
	</div>
	<p class="caption-on-wrap">Образовательные организации</p>
	<div class="wrapper-second-info">
		<ul class="ooi" style="margin-bottom: -70px;">
			<li>
				<a href="./documents/partners/трехстороннее_соглашение_БПОО_Кузбасса_2025.pdf" target="_blank">
					Соглашение с БПОО Кузбасса
				</a>
			</li>
		</ul>
		<div class="info-tittle">
			<p>Кемеровская область - Кузбасс</p>
			<div class="line"></div>
		</div>
		<ul>
			<li>ФГБОУ ВО «Кемеровский государственный институт культуры» (КемГИК)</li>
			<li>ФГБОУ ВО «Кемеровский государственный медицинский университет» Министерства здравоохранения Российской Федерации</li>
			<li>ФГБОУ ВО Кузбасская государственная сельскохозяйственная академия</li>
			<li>ФГБОУ ВО «Кемеровский государственный университет»</li>
			<li>ФГБОУ ВО Кузбасский государственный технический университет имени Т.Ф.Горбачева</li>
			<!--<li>ФГБОУ ВО Кузбасский государственный технический университет имени Т.Ф.Горбачева</li>
			<li>ГПОУ Сибирский политехнический техникум Центр Опережающей профессиональной подготовки (ЦООП)</li>-->
			<!--<li>ГПОУ «Анжеро-Судженский педагогический колледж»</li>-->
			<li>ГПОУ «Анжеро-Судженский политехнический колледж»</li> 
			<li>ГПОУ «Беловский педагогический колледж»</li> 
			<li>ГПОУ «Беловский политехнический техникум»</li> 
			<li>ГПОУ «Березовский политехнический техникум»</li> 
			<li>Государственное профессиональное образовательное учреждение г. Кемерово</li>
			<li>Государственное профессиональное образовательное учреждение г. Новокузнецка</li>
			<li>ГПОУ «Калтанский многопрофильный техникум»</li> 
			<li>АНО ПО «Колледж предпринимательских и цифровых технологий»</li>
			<li>ГБПОУ Кемеровский горнотехнический техникум</li>
			<li>ГПОУ  «Киселевский педагогический колледж»</li> 
			<li>ГПОУ «Киселевский горный техникум»</li> 
			<li>ГПОУ «Киселевский политехнический техникум»</li> 
			<li>ГПОУ «Кемеровский аграрный техникум» имени Г.П.Левина</li>
			<li>ГПОУ «Кемеровский коммунально-строительный техникум» имени В.И.Заузелкова</li> 
			<li>ЧОУ ПО «Кемеровский кооперативный техникум»</li> 
			<li>ГАПОУ "Кузбасский музыкальный колледж"</li>
			<li>ГПОУ «Кемеровский профессионально-технический техникум»</li> 
			<li>ГПОУ «Кемеровский техникум индустрии питания и сферы услуг»</li> 
			<li>ГПОУ «Кузбасский колледж архитектуры, строительства и цифровых технологий»</li> 
			<li>ГПОУ «Кузбасский колледж культуры и искусств» имени народного артиста СССР И.Д. Кобзона</li>  
			<li>ГАПОУ «Кузбасский педагогический колледж»</li> 
			<li>ГАПОУ «Кузбасский техникум архитектуры, геодезии и строительства»</li> 
			<li>ГАПОУ «Кузбасский художественный колледж»</li>
			<li>ГБПОУ «Кузбасский медицинский колледж»</li> 
			<li>ГПОУ «Кузбасский многопрофильный техникум»</li> 
			<li>ГПОУ «Кузбасское училище олимпийского резерва»</li> 
			<li>ГПОУ «Кузнецкий индустриальный техникум»</li> 
			<li>ГПОУ «Кузнецкий металлургический техникум» им. Бардина И.П.</li>  
			<li>ГПОУ «Кузнецкий техникум сервиса и дизайна» им. Волкова В.А </li>
			<li>ГБПОУ «Ленинск-Кузнецкий горнотехнический техникум»</li>
			<li>ГПОУ «Ленинск-Кузнецкий политехнический техникум»</li> 
			<li>ГБПОУ «Междуреченский горностроительный техникум»</li>
			<li>ГПОУ «Мариинский педагогический колледж имени императрицы Марии Александровны»</li>
			<li>ГПОУ «Мариинский политехнический техникум»</li> 
			<li>ГБПОУ «Новокузнецкий горнотранспортный колледж» имени В.Ф. Кузнецова</li> 
			<li>ФКПОУ «Новокузнецкий государственный гуманитарно-технический колледж-интернат»</li>
			<li>ГПОУ «Новокузнецкий областной колледж искусств»</li>
			<li>ГПОУ «Новокузнецкий педагогический колледж»</li> 
			<!--<li>ГПОУ «Новокузнецкий техникум пищевой промышленности»</li>
			<li>ГПОУ «Новокузнецкий техникум строительных технологий и сферы обслуживания»</li>-->
			<li>ГАПОУ «Новокузнецкий торгово-экономический техникум»</li> 
			<li>ГПОУ «Новокузнецкий транспортно-технологический техникум»</li> 
			<li>ГПОУ «Осинниковский горнотехнический колледж»</li> 
			<li>ГПОУ «Осинниковский политехнический техникум»</li> 
			<!--<li>ГПОУ «Полысаевский индустриальный техникум»</li>-->
			<li>ГПОУ «Прокопьевский аграрный колледж»</li> 
			<li>ГПОУ «Прокопьевский областной колледж искусств имени народного артиста Российской Федерации Д.А. Хворостовского»</li> 
			<li>ГПОУ «Прокопьевский строительный техникум»</li> 
			<!--<li>ГПОУ «Прокопьевский транспортный техникум»</li>-->
			<li>ГПОУ «Прокопьевский электромашиностроительный техникум»</li> 
			<li>ГБПОУ Прокопьевский горнотехнический техникум им. В.П. Романова</li>
			<li>ГБПОУ Прокопьевский техникум физической культуры</li> 
			<li>ГПОУ «Сибирский колледж сервиса и технологий»</li>
			<li>ГПОУ «Сибирский политехнический техникум»</li> 
			<li>ГПОУ «Таштагольский техникум горных технологий и сферы обслуживания»</li> 
			<li>ГПОУ «Топкинский технический техникум»</li> 
			<li>ГБПОУ Томь-Усинский энерготранспортный техникум</li>
			<li>ГПОУ «Тяжинский агропромышленный техникум»</li>
			<li>ГПОУ «Училище олимпийского резерва Кузбасса»</li> 
			<li>ГАПОУ «Юргинский техникум агротехнологий и сервиса»</li>
			<li>ГПОУ «Юргинский техникум машиностроения и информационных технологий»</li>
			<li>ГПОУ «Юргинский технологический колледж» им. Павлючкова Г.А.</li>
			<li>ГАПОУ "Кузбасская академия джаза"</li>
			<li>Муниципальное казенное общеобразовательное учреждение "Специальная школа - интернат №38"</li>
			<li>Муниципальное бюджетное общеобразовательное учреждение "Основная общеобразовательная школа №39"</li>
			<li>Муниципальное бюджетное общеобразовательное учреждение "Сусловская средняя общеобразовательная школа"</li>
			<li>Муниципальное бюджетное общеобразовательное учреждение "Средняя общеобразовательная школа №30 имени Н.Н.Колокольцова"</li>
			<li>Муниципальное казенное общеобразовательное учреждение "Специальная школа №106"</li>
		</ul>
		<div class="info-tittle">
			<p>Российская Федерация</p>
			<div class="line"></div>
		</div>
		<ul>
			<li>ГПОАУ АО «Амурский педагогический колледж»</li>
			<li>ГОУПО города Севастополя «Севастопольский профессиональный художественный колледж»</li>
			<li>ГПОУ ТО «Торжокский педагогический колледж им.Ф.В. Бадюлина»</li>
			<li>ГАПОУ ВО «Владимирский экономико-технологический колледж»</li>
			<li>КГБПОУ «Бийский промышленно-технологический колледж»</li>
			<li>ГАПОУ МО «Подмосковный колледж «Энергия»</li>
			<li>КГАПОУ «Автомобильно-технический колледж»</li>
			<li>ГАПОУ ТО «Тюменский колледж производственных и социальных технологий»</li>
			<li>ОГБПОУ «Ульяновский педагогический колледж»</li>
			<li>ГБПОУ «Чеченский государственный колледж»</li>
			<li>ОГБПОУ "Ивановский промышленно-экономический колледж"</li>
			<li>КГБПОУ "Николаевский-на-Амуре промышленно-гуманитарный техникум"</li>
			<li>ТОГАПУ "Техникум отраслевых технологий"</li>
			<li>ГПОУ Республики Марий Эл "Марийский политехнический техникум"</li>
			<li>ГПОУ "Сыктывкарский колледж сервиса и связи"</li>
			<li>ФГБОУ ДПО Институт развития профессионального образования</li>
			<li>БПОУ ОО Омский колледж профессиональных технологий</li>
			<li>ГАПОУ Салаватский колледж образования и профессиональных технологий</li>
			<li>ГБПОУ "Арзамасский коммерческо-технический техникум"</li>
			<li>ОГБПОУ "Костромской торгово-экономический колледж"</li>
			<li>ГБПОУ "Сахалинский техникум сервиса"</li>
			<li>ГПОУ ТО Тульский техникум социальных технологий</li>
			<li>ГБПОУ Курганский педагогический колледж</li>
			<li>КЧР ГБПОО МТК Механико-технологический колледж</li>
			<li>ГАПОУ Оренбургский автотранспортный колледж имени заслуженного учителя Российской Федерации В.Н.Бевзюка</li>
			<li>ГАПОУ ТО Ишимский многопрофильный техникум</li>
			<li>ГБПОУ АО Астраханский губернский техникум</li>
			<li>ГБПОУ РО Новочеркасский колледж промышленных технологий и управления</li>
			<li>БПОУ ОО Орловский технологический техникум</li>
			<li>ОГБПОУ Томский техникум социальных технологий</li>
			<!--<li>ГПОУ ОО Омский колледж профессиональных технологий</li>-->
			<li>БПОУ РА Горно-Алтайский государственный политехнический колледж имени М.З.Гнездилова</li>
			<li>ОГБПОУ Ульяновский техникум отраслевых технологий и дизайна</li>
			<li>ОГБПОУ Костромской машиностроительный техникум</li>
			<li>КГБПОУ Хабаровский промышленно-экономический техникум</li>
			<li>ГБУ КО ПОО Колледж информационных технологий и строительства</li>
			<li>КГБПОУ Красноярский колледж отраслевых технологий и предпринимательства</li>
			<li>ГАПОУ СО Новокуйбышевский гкманитарно-технологический колледж</li>
			<li>ГБПОУ Владикавказский колледж электорники</li>
			<li>ГБПОУ РХ Хакассикй колледж профессиональных технологий,экономики и сервиса</li>
			<li>ГАПОУ РС Южно-Якутский технологический колледж</li>
			<li>ГАПОУ МО Мурманский колледж экономики и информационных технологий</li>
			<li>ГБПОУ ПО Псковский колледж профессиональных технологий и сервиса</li>
			<li>ГБПОУ Златоустовский индустриальный колледж им.П.А.Аносова</li>
			<li>ГБПОУ РМ Саранский техникум сферы услуг и промышленных технологий</li>
			<li>ГБПОУ Профессиональное училище №5 г.Владикавказа</li>
			<!--<li>БПОУ Омский колледж профессиональных технологий</li>-->
			<li>ГБПОУ Новосибирский профессионально-педагогический колледж</li>
			<li>КГБПОУ Хабаровский промышленно-экономический техникум</li>
			<li>ГБПОУ МО Балашихинский техникум</li>
			<li>КГБПОУ Комсомольский-на-Амуре колледж технологий и сервиса</li>
			<li>ОГБПОУ Рязанский железнодорожный колледж</li>
			<li>ОБПОУ «Курский государственный политехнический колледж» (БПОО/РУМЦ)</li>
			<li>ГБПОУ Волгоградский профессиональный техникум кадровых ресурсов</li>
			<li>ГБПОУ Республики Дагестан "Аграрно-экономический колледж"</li>
			<!--<li>Автономная некоммерческая организация "Национальный центр содействия эколого-социальному и инновационному развитию территории" АНО НЦ АСИ</li>-->
			<li>ГБПОУ Пензензской области "Кузнецкий многопрофильный колледж"</li>
			<li>ГПОУ Владимирской области "Вязниковский технико-экономический колледж"</li>
			<li>ГПОУ Забайкальский техникум профессиональных технологий</li>
			<li>Санкт-Петербужское ГБПОУ "Охтинский колледж"</li>
			<li>ГБПОУ Республики Дагестан "Колледж народных промыслов и туризма"</li>
			<li>ГАПОУ Самарской области "Тольяттинский социально-педагогический колледж"</li>
			<li>Кировское областное ГПОБО "Вятский автомобильно-промышленный колледж"</li>
			<li>ГБПОУ Воронежской области "Новоусманский многопрофильный техникум"</li>
			<li>ГАПОУ Пензенской области "Пензенский агропромышленный колледж"</li>
			<li>БПОУ "Горно-Алтайский педагогический колледж"</li>
			<li>ГПОУ "Дербентский профессионально-педагогический колледж им.Г.Б.Казиахметова"</li>
			<!--<li>ГБПОУ "Тувинский политехнический техникум"</li>-->
			<li>ГПОУ "Григорополисский сельскохозяйственный техникум" имени атамана М.И.Платонова</li>
			<li>ГБПОУ "Профессионально-педагогический колледж имени М.М.Меджидова"</li>
			<li>ГАПОУ "Набережночелнинский педагогический колледж"</li>
			<li>ГБПОУ "Тувинский политехнический техникум"</li>
			<li>ГАПОУ Архангельской области "Техникум строительства, дизайна и технологий"</li>
			<li>ГПОБУ "Политехнический техникум"</li>
			<li>БПОУ Вологодской области "Вологодский колледж технологий и дизайна"</li>
			<li>ЧПОУ "Дагестанский колледж образования"</li>
			<li>ГАПОУ Иркутской области "Иркутский техникум авиастроения и материалообработки"</li>
			<li>КГБПОУ "Красноярский техникум социальных технологий"</li>
			<li>ГПОУ Республики Дагестан "Железнодорожный колледж"</li>
			<li>БПОУ Удмуртской Республики "Глазовский политехнический колледж"</li>
			<li>Тамбовское областное ГБПОУ "Мичуринский аграрный техникум"</li>
			<li>БПОУ Орловской области "Мезенский педагогический колледж"</li>
			<li>ОГАПОУ "Белгородский индустриальный колледж"</li>
			<li>ГАПОУ ПО "Пензенский колледж информационных и промышленных технологий (ИТ-колледж)"</li>
			<li>ГБПОУ Республики Мордовия "Атяшевский аграрный техникум"</li>
			<li>ГБПОУ Республики Дагестан "Индустриально-промышленный колледж"</li>
			<li>ГАПОУ Свердловской области "Нижнетагильский торгово-экономический техникум"</li>
			<li>ОГБПОУ "Димитровоградский технический колледж"</li>
			<li>ГОАПОУ "Липецкий колледж транспорта и дорожного хозяйства"</li>
			<li>БУПО Ханты-Мансийского автономного округа - Югры "Нижневартовский социально-гуманитарный колледж"</li>
			<li>ГАПОУ "Казанский торгово-экономический техникум"</li>
			<li>ГБПОУ "Георгиевский колледж"</li>
			<li>БПОУ ЛО "Мичуринский многопрофильный техникум"</li>
			<li>ГАПОУ "Брянской строительно-технологический техникум имени Л.Я.Кучеева"</li>
			<li>ГБПОУ Республики Марий Эл "Строительно-промышленный техникум"</li>
			<li>ГБПОУ Республики Мордовия "Ичалковский педагогический колледж"</li>
			<li>ГБПОУ "Кабардино-Балкарский гуманитарно-технический колледж" РУМЦ, БПОО</li>
			<li>ГБПОУ "Челябинский государственный промышленно-гуманитарный техникум им А.В.Яковлева"</li>
			<li>ГБПОУ Иркутской области "Иркутский техникум архитектуры и строительства"</li>
			<li>ГБПОУ "Сахалинский горный техникум"</li>
			<li>ГБПОУ "Лысьвенский политехнический колледж"</li>
			<li>ГПОУ Ярославской области Ярославский колледж управления и  профессиональных технологий</li>
			<li>ГАПОУ Калужской области "Калужский колледж сервиса и дизайна"</li>
		</ul>
	</div>
	<div class="wrapper-second-info">
		<a href="https://disk.yandex.ru/d/9WAr3IpbsGnZMA" target="_blank" class="bottom-btn">Соглашения</a>
	</div>
	<p class="caption-on-wrap">Психолого-медико-педагогическая комиссия</p>
	<div class="wrapper-second-info">
		<a href="https://kuzrc.ru/" target="_blank" class="bottom-btn">Государственная организация образования «Кузбасский региональный центр психолого-педагогической, медицинской и социальной помощи «Здоровье и развитие личности»</a>
	</div>
	<div class="wrapper-second-info">
		<ul>
			<li>
				<a href="./documents/partners/Модель_сетевого_взаимодействия_БПОО_в_рамках_выдачи_заключений_ППк.pdf" target="_blank">Модель сетевого взаимодействия БПОО - ПМПК - ПОО</a>
			</li>
			<li>
				<a href="./documents/partners/План_мероприятий_по_обеспечению_психолого_педагогического_сопровождения.pdf" target="_blank">План мероприятий по обеспечению психолого педагогического сопровождения</a>
			</li>
		</ul>
	</div>	
</div>