<div class="info-container">
	<div class="info-wrapper">
		<p class="tittle-course">
			Профессиональная деятельность тьютора по сопровождению обучения инвалидов и лиц с ОВЗ
		</p>
		<div class="start-course">
			<iframe style="margin-bottom: 25px;" src="./documents/courses/course2/instruction2.pdf"></iframe>
			<p>
				Общая информация
			</p>
			<iframe src="./documents/courses/course2/firstinform.pdf"></iframe>
		</div>
		<div class="lessons">
			<p>
				Темы
			</p>
			<ul class="themes-ul">
				<li>
					<a href="./documents/courses/course2/theme1.docx" target="_blank">
						<span>Лекция 1.</span> История
					</a>
				</li>
				<li>
					<a href="./documents/courses/course2/theme2.doc" target="_blank">
						<span>Лекция 2.</span> Методика
					</a>
				</li>
				<li>
					<a href="./documents/courses/course2/theme3.docx" target="_blank">
						<span>Лекция 3.</span> Формы и методы
					</a>
				</li>
				<li>
					<a href="./documents/courses/course2/theme4.docx" target="_blank">
						<span>Лекция 4.</span> Сопровождение
					</a>
				</li>
				<li>
					<a href="./documents/courses/course2/theme44.docx" target="_blank">
						<span>Лекция 4.</span> Заключение
					</a>
				</li>
				<li>
					<a href="./documents/courses/course2/theme5.pdf" target="_blank">
						<span>Лекция 5.</span> в ПОО
					</a>
				</li>
			</ul>
		</div>
		<div class="lessons">
			<p>
				Уроки
			</p>
			<ul class="lessons-ul">
				<li>
					<p>Кто такой тьютор сопровождение ребёнка-аутиста в школе</p>
					<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239108&hash=1e5a93a13923c92c" width="640" height="360" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>
				</li>
				<li>
					<p>Как сопровождать незрячего человека</p>
					<iframe src="https://vkvideo.ru/video_ext.php?oid=-211180351&id=456239231&hd=1&hash=c7c486d879408a6f&" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
				</li>
				<li>
					<p>Видео пособие по подъему и спуску коляски с инвалидом по лестничному маршу</p>
					<iframe src="https://vkvideo.ru/video_ext.php?oid=-211180351&id=456239230&hd=2&hash=42193017b459c75c&" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
				</li>
				<li>
					<p>Пандус. Как правильно сделать</p>
					<iframe src="https://vkvideo.ru/video_ext.php?oid=-211180351&id=456239229&hd=2&hash=76ae64ff41652843&" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
				</li>
				<li>
					<p>Этика поведения с инвалидами</p>
					<iframe src="https://vkvideo.ru/video_ext.php?oid=-211180351&id=456239228&hd=2&hash=f0e254c0be6f9829&" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
				</li>
				<li>
					<p>Правила этикета при общении с людьми с инвалидностью</p>
					<iframe src="https://vkvideo.ru/video_ext.php?oid=-211180351&id=456239227&hd=2&hash=f3b03f08600e19c6&" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
				</li>
				<li>
					<p>Методы работы с детьми с особыми потребностями</p>
					<iframe width="640" height="360" src="https://rutube.ru/play/embed/7cffe4f189edbd08aff6429361c57f3b/" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				</li>
				<li>
					<p>Технические средства реабилитации</p>
					<iframe width="640" height="360" src="https://rutube.ru/play/embed/c2207b48556360f3bcc4bc7bb58983b4/" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				</li>
				<li>
					<p>Технологии протезирования</p>
					<iframe width="640" height="360" src="https://rutube.ru/play/embed/6dc9cce13f45248a10681394e9593c10/" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				</li>
				<li>
					<p>Уровни доступной среды</p>
					<iframe width="640" height="360" src="https://rutube.ru/play/embed/252630213ba2d0fabf46d1b7ecdebb6f/" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				</li>
				<li>
					<p>Технологии на службе инклюзии</p>
					<iframe width="640" height="360" src="https://rutube.ru/play/embed/2c1d3df49ded53442c68eb241aee152a/" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				</li>
				<li>
					<p>ТОП-6 оборудования для инклюзивного образования</p>
					<iframe src="https://vkvideo.ru/video_ext.php?oid=-211234083&id=456240998&hd=2" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
				</li>
				<li>
					<a href="./documents/courses/course2/lesson1.pdf" target="_blank">
						<span>Урок 1.</span>Нормативное обеспечение обучения овз
					</a>
				</li>
				<li>
					<a href="./documents/courses/course2/lesson11.pptx" target="_blank">
						<span>Урок 1.</span>Норматив
					</a>
				</li>
				<li>
					<a href="./documents/courses/course2/lesson2.ppt" target="_blank">
						<span>Урок 2.</span>Тьюторское сопровождение в ОО
					</a>
				</li>
				<li>
					<a href="./documents/courses/course2/lesson22.pptx" target="_blank">
						<span>Урок 2.</span>тьюторское сопровождение
					</a>
				</li>
				<li>
					<a href="./documents/courses/course2/lesson3.pptx" target="_blank">
						<span>Урок 3.</span>Группы инвалидности и лиц с ОВЗ
					</a>
				</li>
				<li>
					<a href="./documents/courses/course2/lesson4.pptx" target="_blank">
						<span>Урок 4.</span>Роль тьютора
					</a>
				</li>
				<li>
					<a href="./documents/courses/course2/lesson5.pptx" target="_blank">
						<span>Урок 5.</span>Тьюторское сопровождение
					</a>
				</li>
				<li>
					<a href="./documents/courses/course2/lesson6.pptx" target="_blank">
						<span>Урок 6.</span>Технологии, формы и методы работы тьютора
					</a>
				</li>
				<li>
					<a href="./documents/courses/course2/lesson7.pdf" target="_blank">
						<span>Урок 7.</span>Методическое обеспечение учебного процесса
					</a>
				</li>
			</ul>
		</div>
		<div class="lessons">
			<p>
				Документы
			</p>
			<ul class="themes-ul">
				<li>
					<a href="./documents/courses/course2/doc1.docx" target="_blank">
						Дневник тьютора группы в ПОО
					</a>
				</li>
				<li>
					<a href="./documents/courses/course2/doc2.docx" target="_blank">
						Дневник тьютора пустой
					</a>
				</li>
				<li>
					<a href="./documents/courses/course2/doc3.rtf" target="_blank">
						Должностная инструкция тьютора (профессиональный стандарт)
					</a>
				</li>
				<li>
					<a href="./documents/courses/course2/terminologiya-po-otnosheniyu-k-lyudyam-s-invalidnostyu.pdf" target="_blank">
						Терминология по отношению к людям с инвалидностью
					</a>
				</li>
				<li>
					<a href="./documents/courses/course2/doc4.doc" target="_blank">
						Модель тьюторского сопровождения
					</a>
				</li>
				<li>
					<a href="./documents/courses/course2/doc5.docx" target="_blank">
						Пример программы тьюторского сопровождения
					</a>
				</li>
				<li>
					<a href="./documents/courses/course2/doc6.docx" target="_blank">
						Технология тьюторского сопровождения
					</a>
				</li>
				<li>
					<a href="./documents/courses/course2/lit.rar" target="_blank">
						Литература
					</a>
				</li>
			</ul>
		</div>
		<div class="test">
			<p>ИТОГОВОЕ ЗАДАНИЕ</p>
			<!--<p style="font-size: 20px; padding: 10px 200px;">Выполняете задание и формируете файл, называете вашей фамилией и названием курсов, например: Иванова-Тьютор.doc, высылаете на адрес электронной почты: bpoo@pkgn.ru. Удачи!</p>-->
			<a href="https://forms.yandex.ru/u/6725ab65d04688a8a08b714d/" target="_blank"><!--./documents/courses/course2/test.docx-->
				<!--«Профессиональная деятельность тьютора по сопровождению обучения инвалидов и лиц с ОВЗ»-->
				ИТОГОВЫЙ ТЕСТ
			</a>
			<!-- <p>Станет доступно позже</p> -->
		</div>
	</div>
</div>