<div class="info-container">
	<div class="info-wrapper">
		<p class="tittle-course">
			Ассистент (помощник) по оказанию технической помощи инвалидам и лицам с ограниченными возможностями здоровья
		</p>
		<div class="start-course">
			<iframe style="margin-bottom: 25px;" src="./documents/courses/course1/instruction2.pdf"></iframe>
			<p>
				Общая информация
			</p>
			<iframe src="./documents/courses/course1/firstinform.pdf"></iframe>
		</div>
		<div class="lessons">
			<p>
				Темы
			</p>
			<ul class="themes-ul">
				<li>
					<a href="./documents/courses/course1/theme1.docx" target="_blank">
						<span>Тема 1.</span> Нормативная и правовая база получения образования детьми с ограниченными возможностями здоровья, в том числе с инвалидностью, в образовательных организациях
					</a>
				</li>
				<li>
					<a href="./documents/courses/course1/theme1-1.pdf" target="_blank">
						Нормативно-правовые аспекты создания инклюзивной образовательной среды в ПОО
					</a>
				</li>
				<li>
					<a href="./documents/courses/course1/theme2.docx" target="_blank">
						<span>Тема 2.</span> Современные представления о нарушениях развития детей-инвалидов и детей с ОВЗ, их образовательные потребности и специальные образовательные условия
					</a>
				</li>
				<li>
					<a href="./documents/courses/course1/theme3.docx" target="_blank">
						<span>Тема 3.</span> Тьютор и ассистент (помощник) в инклюзивном образовании
					</a>
				</li>
				<li>
					<a href="./documents/courses/course1/theme4.docx" target="_blank">
						<span>Тема 4.</span> Создание специальных условий получения образования для детей с ОВЗ
					</a>
				</li>
				<li>
					<a href="./documents/courses/course1/theme5.docx" target="_blank">
						<span>Тема 5.</span> Особенности деятельности руководителя образовательной организации при включении обучающихся с ОВЗ, в том числе с инвалидностью в инклюзивное образовательное пространство
					</a>
				</li>
				<li>
					<a href="./documents/courses/course1/theme6.pdf" target="_blank">
						<span>Тема 6.</span> Создание доступной архитектурной среды
					</a>
				</li>
				<li>
					<a href="./documents/courses/course1/theme7.pdf" target="_blank">
						<span>Тема 7.</span> Формирование инклюзивной культуры как направление воспитательной работы в образовательной организации
					</a>
				</li>
				<li>
					<a href="./documents/courses/course1/theme8.pdf" target="_blank">
						<span>Тема 8.</span> Специфика создания инклюзивной образовательной среды в ПОО с учетом особых образовательных потребностей студентов
					</a>
				</li>
				<li>
					<a href="./documents/courses/course1/theme9.pdf" target="_blank">
						<span>Тема 9.</span> Доступная среда для инвалидов по слуху на объектах социальной инфраструктуры. Проблемы и пути решения
					</a>
				</li>
				<li>
					<a href="./documents/courses/course1/theme10.pdf" target="_blank">
						<span>Тема 10.</span> Доступная среда. Входная группа для НОДА
					</a>
				</li>
				<li>
					<a href="./documents/courses/course1/theme11.pdf" target="_blank">
						<span>Тема 11.</span> Обеспечение доступности для собаки проводника
					</a>
				</li>
				<li>
					<a href="./documents/courses/course1/theme12.pdf" target="_blank">
						<span>Тема 12.</span> Основы устройства, функционирования, эксплуатации и обслуживания средств реабилитации (изделий)
					</a>
				</li>
				<li>
					<a href="./documents/courses/course1/theme12.pdf" target="_blank">
						<span>Тема 13.</span> Когнитивная доступность и коммуникационные основы взаимодействия
					</a>
				</li>
				<li>
					<a href="./documents/courses/course1/theme12.pdf" target="_blank">
						<span>Тема 14.</span> Инструктирование по вопросам доступности
					</a>
				</li>
			</ul>
		</div>
		<div class="lessons">
			<p>
				Уроки
			</p>
			<ul class="lessons-ul">
				<li>
					<p>Урок 1. Создание безбарьерной среды для ОВЗ</p>
					<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239100&hash=b274fe4293f187a2" width="640" height="360" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>
				</li>
				<li>
					<p>Урок 2. Доступная среда для людей с ОВЗ и нарушением ОДА</p>
					<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239101&hash=9048781ac6e7744c" width="640" height="360" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>
				</li>
				<li>
					<p>Урок 3. Доступная среда для людей с ОВЗ слуха и зрения</p>
					<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239102&hash=e33ee96c1191532b" width="640" height="360" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>
				</li>
				<li>
					<p>Урок 4. Особенности социальной реабилитации инвалидов с нарушениями функций опорно-двигательного аппарата</p>
					<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239103&hash=150cc8e55ec303b8" width="640" height="360" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>
				</li>
				<li>
					<p>Урок 5. Особенности реабилитации лиц с нарушением органов слуха</p>
					<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239104&hash=cd5787179b22c6d8" width="640" height="360" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>
				</li>
				<li>
					<p>Урок 6. Особенности социальной реабилитации инвалидов с психическими нарушениями и интеллектуальной недостаточностью</p>
					<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239105&hash=288600bbbfd4ca40" width="640" height="360" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>
				</li>
				<li>
					<p>Урок 7. Реабилитация слепоглухих</p>
					<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239106&hash=4c00dc6c2b186927" width="640" height="360" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>
				</li>
				<li>
					<p>Урок 8. Эвакуационное лестничное кресло. Эвакуация маломобильных граждан. Самоспас</p>
					<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239107&hash=603b96e2f82f463b" width="640" height="360" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>
				</li>
				<li>
					<a href="./documents/courses/course1/lesson9.docx" target="_blank">
						<span>Урок 9.</span>Порядок оказания первой помощи при угрожающих жизни состояниях
					</a>
				</li>
				<li>
					<a href="./documents/courses/course1/lesson10.pdf" target="_blank">
						<span>Урок 10.</span>Эвакуация маломобильных граждан из здания
					</a>
				</li>
				<li>
					<p>Как сопровождать незрячего человека</p>
					<iframe src="https://vkvideo.ru/video_ext.php?oid=-211180351&id=456239231&hd=1&hash=c7c486d879408a6f&" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
				</li>
				<li>
					<p>Видео пособие по подъему и спуску коляски с инвалидом по лестничному маршу</p>
					<iframe src="https://vkvideo.ru/video_ext.php?oid=-211180351&id=456239230&hd=2&hash=42193017b459c75c&" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
				</li>
				<li>
					<p>Пандус. Как правильно сделать</p>
					<iframe src="https://vkvideo.ru/video_ext.php?oid=-211180351&id=456239229&hd=2&hash=76ae64ff41652843&" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
				</li>
				<li>
					<p>Этика поведения с инвалидами</p>
					<iframe src="https://vkvideo.ru/video_ext.php?oid=-211180351&id=456239228&hd=2&hash=f0e254c0be6f9829&" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
				</li>
				<li>
					<p>Правила этикета при общении с людьми с инвалидностью</p>
					<iframe src="https://vkvideo.ru/video_ext.php?oid=-211180351&id=456239227&hd=2&hash=f3b03f08600e19c6&" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
				</li>
				<li>
					<a href="./documents/courses/course1/Организация_помощи_инвалидам_в_преодолоении_барьеров.pdf" target="_blank">
						Организация помощи инвалидам в преодолоении барьеров
					</a>
				</li>
				<li>
					<a href="./documents/courses/course1/Преодоление_барьеров_на_колясках.pdf" target="_blank">
						Преодоление барьеров на колясках
					</a>
				</li>
				<li>
					<a href="./documents/courses/course1/Законодательные_направления_доступность_2025.pdf" target="_blank">
						Законодательные направления доступность 2025
					</a>
				</li>
			</ul>
		</div>
		<div class="lessons">
			<p>
				Документы
			</p>
			<ul class="themes-ul">
				<li>
					<a href="./documents/courses/course1/doc1.pdf" target="_blank">
						Должностные обязанности
					</a>
				</li>
				<li>
					<a href="./documents/courses/course1/doc2.docx" target="_blank">
						Сроки эксплуатации ТСР
					</a>
				</li>
				<li>
					<a href="./documents/courses/course1/doc3.rtf" target="_blank">
						<span>Форма.</span> Должностная инструкция ассистента
					</a>
				</li>
			</ul>
		</div>
		<div class="test">
			<p>ИТОГОВОЕ ТЕСТИРОВАНИЕ</p>
			<!--<p style="font-size: 20px; padding: 10px 200px;">Выполняете задание и формируете файл, называете вашей фамилией и названием курсов, например: Иванова-Ассистент.doc<br /> УДАЧИ!</p>-->
			<a href="https://forms.yandex.ru/u/670f2966f47e73600aa563db/" target="_blank">
				Пройти итоговый тест
			</a>
			<a href="https://forms.yandex.ru/cloud/6606330c3e9d081c7bcbe04e/" target="_blank">отзыв о курсе</a>
		</div>
	</div>
</div>