<div class="info-container">
	<div class="info-wrapper">
		<p class="tittle-course">
			Технологии сопровождения инвалидов и лиц с ограниченными возможностями здоровья в образовательной организации (доступная среда)				
		</p>
		<div class="start-course">
			<iframe style="margin-bottom: 25px;" src="./documents/courses/course3/instruction2.pdf"></iframe>
			<p>
				Общая информация
			</p>
			<iframe src="./documents/courses/course3/firstinform.pdf"></iframe>
		</div>
		<div class="lessons">
			<p>
				Уроки
			</p>
			<ul class="lessons-ul">
				<li>
					<a href="./documents/courses/course3/lesson1.pdf" target="_blank">
						<span>Урок 1.</span>Документы нормативные по доступной среде
					</a>
				</li>
				<li>
					<a href="./documents/courses/course3/lesson11.pdf" target="_blank">
						<span>Урок 1.1.</span>Собака проводник
					</a>
				</li>
				<li>
					<a href="./documents/courses/course3/lesson2.pdf" target="_blank">
						<span>Урок 2.</span>Безбарьерная среда на территории объекта
					</a>
				</li>
				<li>
					<a href="./documents/courses/course3/lesson22.pdf" target="_blank">
						<span>Урок 2.2.</span>Доступная среда в учреждениях образования
					</a>
				</li>
				<li>
					<a href="./documents/courses/course3/lesson3.pdf" target="_blank">
						<span>Урок 3.</span>Организация пространства Универсальный дизайн
					</a>
				</li>
				<!--<li>
					<a href="./documents/courses/course3/lesson4.pdf" target="_blank">
						<span>Урок 4.</span>Паспортизация ПОО
					</a>
				</li>
				<li>
					<a href="./documents/courses/course3/lesson4.pdf" target="_blank">
						<span>Урок 5.</span> Организационно правовые вопросы доступной среды для инвалидов
					</a>
				</li>
				<li>
					<a href="./documents/courses/course3/lesson4.pdf" target="_blank">
						<span>Урок 6.</span> Тактильные указатели
					</a>
				</li>
				<li>
					<a href="./documents/courses/course3/lesson4.pdf" target="_blank">
						<span>Урок 7.</span> Инструктирование по вопросам доступности
					</a>
				</li>-->
				<li>
					<a href="./documents/courses/course3/lesson8.pdf" target="_blank">
						<span>Урок 4.</span> Инвентарный пандус
					</a>
				</li>
				<li>
					<a href="./documents/courses/course3/lesson9.pdf" target="_blank">
						<span>Урок 5.</span> Санитарно гигиенические помещения для инвалидов
					</a>
				</li>
				<li>
					<a href="./documents/courses/course3/lesson10.pdf" target="_blank">
						<span>Урок 6.</span> ТНУ
					</a>
				</li>
				<li>
					<a href="./documents/courses/course3/lessonn11.pdf" target="_blank">
						<span>Урок 7.</span> Оснащение входной группы
					</a>
				</li>
				<li>
					<a href="./documents/courses/course3/lesson12.pdf" target="_blank">
						<span>Урок 8.</span> Входная группа
					</a>
				</li>
				<li>
					<a href="./documents/courses/course3/lesson13.pdf" target="_blank">
						<span>Урок 9.</span> Санузел для инвалидов по ГОСТ и СП
					</a>
				</li>
				<li>
					<a href="./documents/courses/course3/lesson14.pdf" target="_blank">
						<span>Урок 10.</span> Создание комфортной доступной среды
					</a>
				</li>
				<li>
					<a href="./documents/courses/course3/lesson15.pdf" target="_blank">
						<span>Урок 11.</span> Стационарный пандус
					</a>
				</li>
				<li>
					<a href="./documents/courses/course3/lesson16.pdf" target="_blank">
						<span>Урок 12.</span> Тактильные таблички, вывески, пиктограммы и мнемосхемы
					</a>
				</li>
				<li>
					<a href="./documents/courses/course3/lesson17.pdf" target="_blank">
						<span>Урок 13.</span> Регламент действий в случае применения кнопок вызова помощи персонала
					</a>
				</li>
			</ul>
		</div>
		<div class="lessons">
			<p>
				Документы
			</p>
			<ul class="themes-ul">
				<li>
					<a href="./documents/courses/course3/doc1.docx" target="_blank">
						Законодательные акты в области создания доступной среды жизнедеятельности для инвалидов
					</a>
				</li>
				<li>
					<a href="./documents/courses/course3/Руководство_по_дизайну_образовательного_прострнаства.pdf">
						Руководство по дизайну образовательного прострнаства
					</a>
				</li>
			</ul>
			<p>
				Материалы для изучения
			</p>
			<ul class="themes-ul">
				<li>
					<a href="./documents/courses/course3/Methods.rar">
						Методические материалы
					</a>
				</li>
			</ul>
		</div>
			<ul class="lessons-ul" style="list-style: none;">
				<li>
					<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239173&hash=cffa962d85815ee9" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
				</li>
				<li>
					<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239174&hash=79b28b67872f3661" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
				</li>
				<li>
					<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239179&hash=2c8ec1651ae11c90" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
				</li>
				<li>
					<iframe src="https://vk.com/video_ext.php?oid=-211180351&id=456239180&hash=8dd43b61c8cc8d42" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
				</li>
				<li>
					<p>Как сопровождать незрячего человека</p>
					<iframe src="https://vkvideo.ru/video_ext.php?oid=-211180351&id=456239231&hd=1&hash=c7c486d879408a6f&" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
				</li>
				<li>
					<p>Видео пособие по подъему и спуску коляски с инвалидом по лестничному маршу</p>
					<iframe src="https://vkvideo.ru/video_ext.php?oid=-211180351&id=456239230&hd=2&hash=42193017b459c75c&" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
				</li>
				<li>
					<p>Пандус. Как правильно сделать</p>
					<iframe src="https://vkvideo.ru/video_ext.php?oid=-211180351&id=456239229&hd=2&hash=76ae64ff41652843&" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
				</li>
				<li>
					<p>Этика поведения с инвалидами</p>
					<iframe src="https://vkvideo.ru/video_ext.php?oid=-211180351&id=456239228&hd=2&hash=f0e254c0be6f9829&" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
				</li>
				<li>
					<p>Правила этикета при общении с людьми с инвалидностью</p>
					<iframe src="https://vkvideo.ru/video_ext.php?oid=-211180351&id=456239227&hd=2&hash=f3b03f08600e19c6&" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
				</li>
			</ul>
		<div class="test">
			<p>ИТОГОВОЕ ЗАДАНИЕ</p>
			<!--<p style="font-size: 20px; padding: 10px 200px;">Выполняете задание и формируете файл, называете вашей фамилией и названием курсов, например: Иванова-Доступность.doc, прикрепляете задание <br /> УДАЧИ!</p>-->
			<a href="https://forms.yandex.ru/u/670f4656505690f87c289cec/" target="_blank">
				ПРОЙТИ ИТОГОВЫЙ ТЕСТ
			</a>
			<a href="https://forms.yandex.ru/cloud/6620ac845056902e78a703a1/" target="_blank">отзыв о курсе</a>
		</div>
	</div>
</div>