header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 80px;
	background-color: #fcdd51;
	z-index: 9999;
}

.klogo {
	position: absolute;
	z-index: 9999;
	width: auto;
	height: 85%;
	margin-top: 50px;
	margin-left: 20px;
	rotate: -10deg;
	transition: 0.5s;
}

.klogo:hover {
	height: 87%;
	rotate: 0deg;
}

.container {
  	width: 100%;
  	margin: 0 auto;
  	height: 100%;
}

.navbar__wrap {
  	display: flex;
  	justify-content: space-around;
  	height: 100%;
}

.hamb {
  display: none;
}

.popup {
  display: none;
  overflow: auto;
}

.logo {
	max-width: 100px;
}

.logo img {
	width: auto;
	height: 100%;
}

.menu {
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
}

.menu li {
  	display: flex;
  	padding: 0 20px;
  	transition: 0.5s;
}

.container .menu li a {
		position: relative;
		font-family: Gotham Pro Light;
		font-size: 1.1vw;
  	text-decoration: none;
  	color: #000;
  	transition: 0.5s;
  	line-height: 2;
}

.container .menu li a:after {
		display: block;
		position: absolute;
		left: 0; 
		width: 0;
		height: 2px; 
		background-color: #363636; 
		content: "";
		transition: width 0.5s ease-out;
}

.container .menu li a:hover:after {
		width: 100%;
}

.container .menu li .vklogo:hover:after {
		width: 0%;
}

.container .menu li .vklogo:hover {
		rotate: 15deg;
}

.menu li a:hover {
		color: #363636;
}

.menu li:last-child {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 50px;
}

.menu li img {
	width: 35%;
	height: auto;
	cursor: pointer;
	transition: 0.4s;
}

.menu li img:hover {
	rotate: 20deg;
	width: 37%;
}

.phone-line {
	display: none;
}